<section class="text-white xl:-mt-10 <%= @bg_color %> bg-gradient-to-b  p-5 md:p-10 lg:p-16 relative overflow-hidden ">

  <div class="absolute inset-0 opacity-80">
    <% case @bg  
     when "book" %>
      <%= image_tag("bg-book.png", srcset: { "bg-book@2x.png" => "2x"}, class: "opacity-80 ml-auto") %>

    <% when "podcast" %>
      <svg width="1500" height="662" viewBox="0 0 1500 662" fill="none" xmlns="http://www.w3.org/2000/svg"> <circle opacity="0.1" cx="575.5" cy="123.5" r="399" stroke="white"/> <circle opacity="0.5" cx="422.5" cy="435.5" r="226" stroke="white"/> <circle opacity="0.1" cx="993.5" cy="241.5" r="358" stroke="white"/> <path opacity="0.1" d="M449.563 -2.63568L747.363 77.1595L529.358 295.164L449.563 -2.63568Z" stroke="white"/> <g opacity="0.3"> <circle cx="1328.5" cy="208.5" r="314" stroke="white"/> <path d="M1203.36 70.3643L1501.16 150.16L1283.16 368.164L1203.36 70.3643Z" stroke="white"/> </g> <path opacity="0.1" d="M959.201 77.5113L1136.19 329.951L829.078 357.011L959.201 77.5113Z" stroke="white"/> <path opacity="0.5" d="M356.595 371.595L509.697 412.618L397.618 524.696L356.595 371.595Z" stroke="white"/> <circle opacity="0.1" cx="190.5" cy="275.5" r="270" stroke="white"/> <path opacity="0.1" d="M125.876 210.595L278.978 251.618L166.9 363.696L125.876 210.595Z" stroke="white"/> </svg>

    <% when "newsletter" %>
      <%= image_tag("bg-newsletter.png", srcset: { "bg-newsletter@2x.png" => "2x"}, class: "opacity-80 ml-auto") %>
    <% end %>
  </div>

  <div class="relative lg:mb-20">

    <% if @second %>

      <%= link_to @path, class: "font-medium flex gap-2 items-center lg:text-2xl xl:text-3xl xl:font-light hover:opacity-80 xl:col-span-5 relative group xl:leading-tight 2xl:text-2xl inline-block mb-4 md:mb-8" do %> 
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" /> </svg>
        All <%= @title %> 
      <% end %>

    <% else %>
      <p class="xl:col-span-5 mb-4 leading-none md:mb-8">
        <span class="font-medium text-2xl">This week <%= @title %> recomendation </span>
        <br/><span class="opacity-80 text-base">about Ruby & Ruby on Rails</span>
      </p>
    <% end %>

  </div>

  <div class="grid lg:grid-cols-2 lg:gap-20 items-end relative">
    <%= link %>

    <div>
      <%= image %> 
    </div>
  </div>

</section>
