<%= form_with(model: @newsletter, class: "text-slate-800") do |f| %>

  <div class="flex flex-col gap-1 mb-r">
    <%= f.label :title, class: "text-base" %>
    <%= f.text_field :title %>
  </div>


 <div class="flex flex-col gap-1 mb-r">
    <%= f.label :content, class: "text-base" %>
    <%= f.rich_text_area :content %>
  </div>

  <div class="flex flex-col gap-1 mb-r">
    <%= f.label :url, class: "text-base" %>
    <%= f.text_field :url %>
  </div>

  <div class="text-base mb-5">
    <%= f.label :author, class: "mr-10" %>
    <div class="grid grid-cols-3 mb-5 gap-1">
      <%= f.collection_check_boxes :author_ids, Author.all, :id, :name do |c| %>
        <div class="flex items-center gap-2">
          <%= c.check_box %>
          <%= c.label %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex items-center mb-5 gap-2 mb-4">
    <%= f.check_box :featured %>
    <%= f.label "Featured", class: "text-base"  %>
  </div>

  <div>
    <%= f.submit class: "bg-red-600 text-white px-5 py-3" %>
  </div>

<% end %>
