<div class="mb-20">

  <%= render "shared/btn_random", title: "Newsletter" %>

  <%= render "shared/suggestions_books" %>

  <div class="bg-white rounded-2xl  sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12  border border-slate-200">

    <%= render "shared/page_title", title: "#{ Newsletter.count } Newsletters about Ruby and Ruby on Rails", description: "You'll love our collection of newsletters. Get the latest news, tips, and tricks delivered right to your inbox. Read about interesting articles and blog posts about life and programming." %>

    <div class="flex flex-col gap-8 sm:gap-12">
      <%= render partial: "shared/newsletter_card", collection: @newsletters, as: :newsletter %>
    </div>
  </div>

</div>

<%= render "shared/btns_add" %>
