<div class="mb-20">
  <div class="mb-20">
    <h1 class="mb-8 font-custom text-3xl md:text-5xl">
      <%= Newsletter.count %> newsletters <br/>about Ruby & Ruby on Rails
    </h1>
    <div class="md:ml-64 leading-relaxed">
      <p class="mb-4">If you're passionate about Ruby, Ruby on Rails, and programming, then you'll love our collection of newsletters. Get the latest news, tips, and tricks delivered right to your inbox. Read about interesting articles and blog posts about life and programming.</p>
      <p>If you are interested in Ruby and Ruby on Rails, check out</p>
      <ul class="flex gap-4">
        <li><%= link_to "Books", books_path, class: "text-red-500" %></li>
        <li>&bull;</li>
        <li><%= link_to "Free Books", books_free_index_path, class: "text-red-500" %></li>
        <li>&bull;</li>
        <li><%= link_to "Podcasts", podcasts_path, class: "text-red-500" %></li>
      </ul>
    </div>
  </div>
  <div class="grid md:grid-cols-2 gap-8 md:gap-x-8 sm:gap-y-12 mb-20">

    <% @newsletters.each do |newsletter| %>
      <div class="group bg-white p-6 flex flex-col shadow-xl shadow-slate-200/30 gap-4 md:gap-2">
        <div class="mb-8">
          <%= link_to newsletter do %>
            <h3 class="font-custom font-bold text-3xl xl:leading-tight">
              <%= newsletter.title %>
            </h3>
          <% end %>
          <span class="text-slate-500">by <%= newsletter.author %></span>
        </div>
          <div class="mb-4"><%= newsletter.content %></div>
        <%= link_to "Subscribe", newsletter.url, target: "_blank", class: "font-custom self-start border border-slate-800 px-4 py-2 bg-slate-800 hover:bg-slate-700 text-white" %>
      </div>
    <% end %>

  </div>
</div>


<div class="flex flex-col md:flex-row md:gap-10">
  <div class="md:w-2/3">

    <% unless @featured.empty? %>
      <% @featured.each do |newsletter| %>

        <section class="bg-gradient-to-b from-amber-100">
          <div class="flex flex-col lg:flex-row p-5 md:p-10 gap-10">

            <div class="">
            <%= image_tag("newsletter.png", srcset: { "newsletter@2x.png" => "2x"}, class: "lg:mx-auto self-center hover:rotate-12 transition-transform duration-300") %>
            </div>

            <div class="w-full self-start">
              <p class="font-medium text-sm text-red-500"> This week recomendation </p>

              <div class="mt-auto">
                <%= link_to newsletter_path(newsletter), class: "hover:text-red-500 text-3xl mb-2 inline-block md:leading-tight" do %> 
                  <%= newsletter.title %>
                <% end %>

                <div class="flex flex-wrap gap-2 items-start justify-start ">
                  <%= link_to "Learn more", newsletter_path(newsletter), class: "bg-white px-4 py-2 hover:text-red-500"  %>
                </div>
              </div>
            </div>

          </div>
        </section>
      <% end %>
    <% end %>

    <div class="grid md:grid-cols-2 gap-2 lg:gap-4 mb-20">
      <%= link_to podcasts_path, class: "group border bg-gradient-to-b from-orange-100 border-orange-500/20  p-5 lg:p-10" do %>
        <h3 class="font-bold group-hover:text-red-500">Podcasts</h3>
        <p>Podcasts about Ruby and Ruby on Rails</p>
      <% end %>

      <%= link_to books_path, class: "group border bg-gradient-to-b from-purple-100 border-purple-500/20 p-5 lg:p-10" do %>
        <h3 class="font-bold group-hover:text-red-500">Books</h3>
        <p>Books about Ruby and Ruby on Rails</p>
      <% end %>

      <%= link_to "https://rubyandrails.info/learn/hotwire", class: "group border bg-gradient-to-b from-slate-100 border-slate-500/20 p-5 lg:p-10" do %>
        <h3 class="font-bold group-hover:text-red-500">Books about Hotwire</h3>
        <p>Learn about Testing and everything</p>
      <% end %>

      <%= link_to "https://rubyandrails.info/learn/ruby", class: "group border bg-gradient-to-b from-red-100 border-red-500/20 p-5 lg:p-10" do %>
        <h3 class="font-bold group-hover:text-red-500">Books about Ruby</h3>
        <p>Learn about Testing and everything</p>
      <% end %>
    </div>

    <div class="md:hidden  md:w-1/3 mb-20">
      <h2 class="text-3xl mb-8">Topics</h2>
      <div class="flex flex-wrap gap-2">
        <%= @tags.map { |t| link_to(t.title, t, class: "bg-slate-100 px-3 py-1 hover:bg-slate-50 inline-block hover:text-red-500") }.join(" ").html_safe %>
      </div>
    </div>

  </div>

  <div class="hidden md:block md:w-1/3 mb-20">
    <h2 class="text-3xl mb-8">Topics</h2>
    <div class="flex flex-wrap gap-2">
      <%= @tags.map { |t| link_to(t.title, t, class: "bg-slate-100 px-3 py-1 hover:bg-slate-50 inline-block hover:text-red-500") }.join(" ").html_safe %>
    </div>
  </div>
</div>

<div class="mb-10 max-w-2xl">
  <h1 class="mb-2 text-3xl md:text-4xl">
    <%= @newsletters.count %> newsletters about Ruby & Ruby on Rails
  </h1>
  <div class="leading-relaxed">
    <p>Newsletters about Ruby & Ruby on Rails</p>
  </div>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 md:gap-8 xl:gap-16 mb-20">
      <%= render (NewsletterCardComponent.with_collection(@newsletters)) %>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_newsletter_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>
