<div class="flex flex-col md:flex-row gap-4 lg:gap-10">
  <div class="md:w-2/3 md:border-r md:border-slate-300 md:pb-16 md:pr-10 ">
    <h1 class="mb-8 font-custom text-3xl md:text-5xl">
      <%= Newsletter.count %> newsletters <br/>about Ruby & Ruby on Rails
    </h1>
    <div class="md:ml-40 lg:ml-64 leading-relaxed">
      <p class="mb-4">If you're passionate about Ruby, Ruby on Rails, and programming, then you'll love our collection of newsletters. Get the latest news, tips, and tricks delivered right to your inbox. Read about interesting articles and blog posts about life and programming.</p>
    </div>
  </div>

  <div class="hidden md:block px-6 ml-auto md:w-1/3">
    <%= link_to books_free_index_path, class: "block mb-8" do %>
      <h3 class="font-bold font-custom hover:text-red-500">Free Books</h3>
      <p class="text-base text-slate-600">Free books about Ruby and Ruby on Rails</p>
    <% end %>

    <%= link_to "https://rubyandrails.info/learn/testing", class: "block mb-8" do %>
      <h3 class="font-bold font-custom hover:text-red-500">Books about Testing</h3>
      <p class="text-base text-slate-600">Learn Testing, and TDD, RSpec, Minitest</p>
    <% end %>

    <%= link_to "https://briefcake.com", target: "_blank", class: "block relative bg-white p-6" do %>
      <span data-splitbee-event="Click Banner" class="text-amber-500 text-sm absolute top-2 right-2">Sponsor</span>
      <h3 class="font-bold font-custom text-purple-500 mt-4">🍰 Briefcake</h3>
      <p class="text-base text-slate-600">All your favourite feeds in one daily email</p>
    <% end %>
  </div>

</div>

<div class="grid border-t border-slate-300 pt-20 md:grid-cols-2 gap-8 md:gap-x-8 sm:gap-y-12 mb-20">

  <% @newsletters.each do |newsletter| %>
    <div class="group bg-white p-6 flex flex-col shadow-xl shadow-slate-200/30 gap-4 md:gap-2">
      <div class="mb-8">
        <%= link_to newsletter do %>
          <h3 class="font-custom font-bold text-3xl xl:leading-tight">
            <%= newsletter.title %>
          </h3>
        <% end %>
        <span class="text-slate-500">by <%= newsletter.author %></span>
      </div>
        <div class="mb-4"><%= newsletter.content %></div>
      <%= link_to "Subscribe", newsletter.url, target: "_blank", class: "font-custom self-start border border-slate-800 px-4 py-2 bg-slate-800 hover:bg-slate-700 text-white" %>
    </div>
  <% end %>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_newsletter_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>
