<% content_for :hero do %>
  <%= render "shared/btn_back", path: newsletters_path %>

    <div class="flex-1 self-stretch flex items-center grow justify-center flex-col h-full">
      <h1 class="h1 max-w-4xl mx-auto my-6">
        <%= @newsletter.title %>
      </h1>

      <%= render "shared/btn_cta", btn: @newsletter.url, event: "go to newsletter", title: "Newsletter" %>
    </div>

<% end %>

<% content_for :content do %>
      <div class="mb-4"><%= @newsletter.content %></div>
<% end %>

<% content_for :authors do %>
  <%= render partial: "shared/author_second",  collection: @newsletter.authors, as: :author %>
<% end %>

<% content_for :related do %>
  <div class="p-5 md:p-10 xl:p-16 grid grid-cols-1 gap-8 text-slate-700 bg-white rounded-3xl ">
  <%= render partial: "newsletters/card", collection: @related, as: :newsletter %>
  </div>
<% end %>

