<%= render "shared/btn_random", title: "Newsletter" %>

<div class="bg-white rounded-2xl  sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12 mb-20  border border-slate-200">

  <div class="flex flex-col justify-between  bg-teal-600 text-white lg:aspect-video rounded-xl p-10 gap-4 md:gap-2">
    <div class="">
      <%= link_to "All Newsletters", newsletters_path, class: "inline-block mb-4" %>
      <h3 class="font-custom hover:opacity-90 font-bold text-3xl xl:text-4xl xl:leading-tight">
        <%= @newsletter.title %>
      </h3>
      <div class="opacity-60 mb-8">by <%= @newsletter.author %></div>
      <div class="mb-4"><%= @newsletter.content %></div>
    </div>

    <div>
      <%= link_to "Subscribe",  @newsletter.url, data: {:"splitbee-event" => "go to newsletter"}, class: "rounded-md shadow-lg shadow-slate-600/10 px-6 hover:bg-slate-700 py-2 inline-block bg-slate-800 text-white text-base lg:text-xl font-custom" %>
    </div>
  </div>

</div>

<%= render "shared/suggestions_books" %>

<h2 class="font-custom mb-8 font-bold">More newsletters</h2>
<div class="flex flex-col sm:p-10 mb-20 gap-8 sm:gap-12">
  <%= render partial: "shared/newsletter_card", collection: @more_newsletters, as: :newsletter %>
</div>


<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 right-10 flex gap-10">
    <%= link_to 'Edit', edit_newsletter_path(@newsletter) %>
    <%= button_to 'Delete', @newsletter, method: :delete, style: 'background: tomato' %>
  </div>
<% end %>
