<%= form_with model: [@authorabble, @author], class: "text-stone-800" do |f| %>

  <div class="grid grid-cols-2 gap-10">
    <div>
      <div class="flex flex-col gap-1 mb-4">
        <%= f.label :name, class: "text-base" %>
        <%= f.text_field :name %>
      </div>


      <div class="flex text-base flex-col gap-1">
        <%= f.label :photo %>
        <%= f.text_field :photo %>
      </div>
    </div>
    <div>
      <div class="flex flex-col gap-1 mb-4">
        <%= f.label 'Site', class: "text-base"  %>
        <%= f.text_field :website_url %>
      </div>

      <div class="flex flex-col gap-1 mb-4">
        <%= f.label 'Twitter', class: "text-base"  %>
        <%= f.text_field :twitter_url %>
      </div>

      <div class="flex flex-col gap-1 mb-4">
        <%= f.label 'Github', class: "text-base"  %>
        <%= f.text_field :github_url %>
      </div>
    </div>
  </div>
  <div class="flex text-base flex-col gap-1">
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>

  <div class="fixed bottom-20 right-20">
    <%= f.submit class: "bg-red-500 cursor-pointer hover:bg-red-600 text-white px-5 py-3" %>
  </div>
<% end %>
