<div class="flex 2xl:gap-20">

  <div class="mx-auto space-y-20 xl:w-4/5 px-5 sm:p-10">
    <%= render Layout::TwoColumnsComponent.new(title: "#{@authors.count} authors writing about Ruby & Ruby on Rails") do |c| %>
      <%= c.with_data do %>
        <p>Learn more about those who share knowledge in their books.</p>
      <% end %>
    <% end %>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
      <%= render (AuthorCardComponent.with_collection(@authors)) %>
    </div>

  </div>
    <div class="hidden xl:block w-1/5 py-10 px-8">
      <h2 class="text-3xl mb-8">Topics</h2>
      <div class="flex flex-wrap gap-2">
        <%= @tags.map { |t| link_to(t.title, t, class: "bg-slate-100 px-3 py-1 hover:bg-slate-50 inline-block hover:text-red-500") }.join(" ").html_safe %>
      </div>
    </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_author_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>

