<div class="space-y-12 md:space-y-28">
  <%= render(Layout::HeroComponent.new(title: "authors", bg_color: "bg-amber-600", bg: "podcast", second: true, path: authors_path)) do |c| %>

    <%= c.with_image do %>
      <div class="mb-8 xl:text-2xl">
        <%= @author.content %>
      </div>
      <div class="flex flex-col font-bold sm:flex-row gap-2 sm:gap-8">
        <% if @author.siteUrl.present? %>
          <%= link_to "Website", @author.siteUrl, target: "_blank" %>
        <% end %>
        <% if @author.twitterUrl.present? %>
          <%= link_to "Twitter", @author.twitterUrl, target: "_blank" %>
        <% end %>
        <% if @author.githubUrl.present? %>
          <%= link_to "Github", @author.githubUrl, target: "_blank" %>
        <% end %>
      </div>
    <% end %>

    <%= c.with_link do %>
      <div class="lg:self-start">
        <h1 class="text-3xl md:leading-tight md:text-4xl 2xl:text-5xl font-bold md:mb-4">
          <%= @author.name %>
        </h1> 
      </div>
    <% end %>

  <% end %>

  <div class="px-5 md:px-10 lg:px-16">
    <h2 class="font-bold text-3xl mb-8 md:text-5xl">Books written by <%= @author.name %></h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
      <%= render (BookCardComponent.with_collection(@books)) %>
    </div>
  </div>

</div>

<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 right-10 flex gap-10">
    <%= link_to "Edit", edit_author_path(@author), class: "" %>
    <%= button_to 'Delete', @author, method: :delete, style: 'background: tomato' %>
  </div>
<% end %>

