<% if current_user.try(:admin?) %>
  <%= link_to edit_author_path(@author), class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" /> </svg>
  <% end %>
<% end %>

<div class="mb-40 px-10 divide-y divide-slate-300">
  <div class="pb-16 lg:pb-40">

    <%= render "shared/breadcrumbs", title: "People", path: authors_path, current_title: @author.name %>

    <!-- author & about book -->
    <section>
      <div class="mb-4 lg:mb-20">
        <h1 class="text-4xl lg:text-7xl mb-5 max-w-4xl font-bold"><%= @author.name %></h1>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-5 gap-10 lg:gap-20">
        <article class="lg:col-start-3 lg:col-span-3">
          <div class="mb-10">
            <%= @author.content %>
          </div>
          <div class="text-red-500 flex gap-8">
            <% if @author.siteUrl.present? %>
              <%= link_to "Website", @author.siteUrl, target: "_blank" %>
            <% end %>
            <% if @author.twitterUrl.present? %>
              <%= link_to "Twitter", @author.twitterUrl, target: "_blank" %>
            <% end %>
            <% if @author.githubUrl.present? %>
              <%= link_to "Github", @author.githubUrl, target: "_blank" %>
            <% end %>
          </div>
        </article>
      </div>
    </section>
  </div>

  <!-- what you'll learn -->
  <%= render "shared/list", obj: @books, link: books_path, title: "Explore all books" do %>
    Books written by <%= @author.name %>
  <% end %>

</div>
