<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 z-50 left-10 flex gap-2 text-white">
    <div class="flex flex-col">
      <%= link_to '+ Author', new_author_path, class: "p-3 bg-amber-500 hover:bg-amber-600" %>
      <%= link_to '+ Tag', new_tag_path, class: "p-3 bg-purple-500 hover:bg-purple-600" %>
      <%= link_to '+ Course', new_course_path, class: "p-3 bg-lime-500 hover:bg-lime-600" %>
      <%= link_to '+ Book', new_book_path, class: "p-3 bg-teal-500 hover:bg-teal-600" %>
    </div>
    <% if local_assigns[:item] %>
    <div class="flex self-end">
      <%= link_to 'Edit', path, class: "p-3 bg-sky-500" %>
      <%= button_to '×', item, method: :delete, class: "px-5 py-3", style: 'background: tomato' %>
    </div>
  <% end %>
  </div>
<% end %>
