<div class="flex flex-col justify-between border-2 border-slate-200/60 p-6 rounded-2xl text-center">

  <% unless community.cover.empty? %>
      <div class="relative w-36 mx-auto">

        <% if community.source == "reddit" %>
          <%= image_tag("communities/icons/reddit.png", srcset: { "communities/icons/reddit@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 right-0") %>
        <% end %>

        <% if community.source == "discord" %>
          <%= image_tag("communities/icons/discord.png", srcset: { "communities/icons/discord@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 -right-2") %>
        <% end %>

        <% if community.source == "forum" %>
          <%= image_tag("communities/icons/forum.png", srcset: { "communities/icons/forum@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 right-0") %>
        <% end %>

        <% if community.source == "slack" %>
          <%= image_tag("communities/icons/slack.png", srcset: { "communities/icons/slack@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 right-0") %>
        <% end %>

        <% if community.source == "twitter" %>
          <%= image_tag("communities/icons/twitter.png", srcset: { "communities/icons/twitter@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 right-0") %>
        <% end %>

        <%= image_tag("communities/#{community.cover}", alt: "#{community.title}", class: "drop-shadow-lg mx-auto mb-4") %>
      </div>
    <% end %>

    <div class="mb-4">
      <h2 class="font-custom hover:opacity-90 font-bold text-2xl">
          <%= community.title %>
      </h2>
      <p class="text-slate-500 text-base"><%= community.source.capitalize() %></p>
    </div>


  <div>
      <%= link_to "Join", community.url, target:"_blank", data: {:"splitbee-community" => "go to community"}, class: "rounded-md shadow-lg shadow-slate-600/10 px-6 hover:bg-slate-700 py-2 inline-block bg-slate-800 text-white text-base lg:text-xl font-custom" %>
  </div>
</div>
