<div class="transition shadow-md shadow-purple-500/10 flex flex-col justify-between bg-white rounded-2xl p-5">

  <% unless community.cover.empty? %>
      <div class="relative">

        <% if community.source == "reddit" %>
          <%= image_tag("communities/icons/reddit.png", srcset: { "communities/icons/reddit@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 right-0") %>
        <% end %>

        <% if community.source == "discord" %>
          <%= image_tag("communities/icons/discord.png", srcset: { "communities/icons/discord@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 right-0") %>
        <% end %>

        <% if community.source == "forum" %>
          <%= image_tag("communities/icons/forum.png", srcset: { "communities/icons/forum@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 right-0") %>
        <% end %>

        <% if community.source == "slack" %>
          <%= image_tag("communities/icons/slack.png", srcset: { "communities/icons/slack@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 right-0") %>
        <% end %>

        <% if community.source == "twitter" %>
          <%= image_tag("communities/icons/twitter.png", srcset: { "communities/icons/twitter@2x.png" => "2x"}, alt: "#{community.title}", class: "absolute -top-2 z-40 right-0") %>
        <% end %>

        <%= image_tag("communities/#{community.cover}", alt: "#{community.title}", class: "mx-auto mb-4") %>
      </div>
    <% end %>

    <div class="mb-4">
      <p class="text-slate-500 text-base"><%= community.source.capitalize() %></p>
      <%= link_to community do %>
      <h2 class="h2 hover:text-red-500">
          <%= community.title %>
      </h2>
    <% end %>
    </div>
  <div>

    <%= link_to   community.url, target:"_blank", data: {:"splitbee-event" => "go to community"}, class: "rounded-md shadow-lg justify-center shadow-slate-600/10 px-6 hover:bg-slate-700 py-2 inline-block bg-slate-800 text-white text-base lg:text-xl flex gap-2 items-center font-custom" do %>
     Join 
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 opacity-60">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    <% end %>
  </div>
</div>
