<div class="w-full">
    <%= render partial: "courses/cover", locals: { course: course } %>

    <div>
      <%= render "shared/free_label", source: course %>
      <%= link_to course, class: "hover:text-red-500" do %>
      <h3 class="h2 mb-4"><%= course.title %></h3>
    <% end %>
      <div class="mb-4">
        <%= render "shared/tags", tags: course %>
      </div>
      <div class="text-base hidden mb-2"><%= course.content %></div>

      <%= link_to "Details", course, class: "rounded-md self-start shadow-lg shadow-slate-600/10 px-6 hover:bg-slate-700 py-2 inline-block bg-slate-800 text-white text-base lg:text-xl font-custom" %>
    </div>
</div>

