<div class="flex flex-col justify-between bg-blue-600 text-white rounded-xl p-10 gap-4 md:gap-2">
  <div class="">
    <p class="mb-2">
    <%= event.date %>
    </p>
    <%= link_to event do %>
      <h3 class="font-custom mb-4 hover:opacity-90 font-bold text-3xl xl:text-4xl xl:leading-tight">
        <%= event.title %>
      </h3>
    <% end %>
    <div class="mb-4"><%= event.description %></div>
  </div>

  <div>
      <%= link_to "Open Event", event.url, target:"_blank", data: {:"splitbee-event" => "go to event"}, class: "rounded-md shadow-lg shadow-slate-600/10 px-6 hover:bg-slate-700 py-2 inline-block bg-slate-800 text-white text-base lg:text-xl font-custom" %>
  </div>
</div>
