<section class="text-white xl:-mt-10 bg-gradient-to-b from-green-800 via-red-700 to-yellow-500 p-5 md:p-10 lg:p-16 relative overflow-hidden">

  <div class="absolute inset-0 opacity-80">
    <%= yield :bg %>
  </div>

  <div class="relative lg:mb-20">
    <p>
      <%= yield :head %>
    </p>

    <p class="font-medium inline-block xl:font-light xl:col-span-5 relative xl:leading-tight inline-block mb-4">
      <span class="font-medium text-3xl text-red-300 xl:text-4xl">This week recomendation </span>
      <br/>book about Ruby & Ruby on Rails
    </p>
  </div>

  <div class="grid lg:grid-cols-2 lg:gap-20 items-end relative">
    <% @featured.each do |book| %>
    <div class="lg:self-end order-last">
      <% unless book.cover.nil? || book.cover.empty? %>
        <%= image_tag("books/#{book.cover}", alt: "#{book.title}", class: "shrink w-1/2 lg:w-full xl:w-2/3 lg:ml-auto shadow-xl shadow-amber-800/30 ") %>
      <% else %>
        <div class="block lg:ml-auto md:w-52 xl:w-72 xl:h-96 p-4 pt-12 font-medium text-slate-600 shrink-0 md:mb-4 h-64 rounded-sm shadow-xl shadow-red-900/30 bg-gradient-to-b from-slate-50 to-slate-300">
          <p class="mb-0">
            <%= book.title %>
          </p>
          <span class="font-normal text-sm text-slate-500">
            by <%= book.authors.map(&:name).join(", ") %>
          </span>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to book_path(book), class: "text-3xl inline-block md:leading-tight md:text-4xl 2xl:text-5xl font-bold md:mb-4 hover:opacity-90" do %> 
        <%= book.title %>
      <% end %>
      <div class="mb-8 xl:text-3xl">
        by <%= book.authors.map { |author| link_to(author.name, author, class: "hover:opacity-90") }.join(", ").html_safe %>
      </div>
      
      <div class="flex flex-wrap gap-2 mb-8 items-start justify-start ">

      <%= link_to book_path(book), class: "inline-flex gap-2 items-center text-xl font-medium bg-amber-200 hover:bg-amber-300 text-amber-800 px-4 py-3" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 mt-1 w-7" viewBox="0 0 20 20" fill="currentColor"> <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" /> </svg>
      Details 
      <% end %>

      </div>
    </div>
  </div>
    <% end %>
</section>
