<nav class="disable-scrollbars lg:h-screen flex top-0 sticky flex-col lg:w-60">

  <div class="rounded-xl px-3 lg:p-5">

    <%= link_to "Ruby & Rails", root_path, class: "hidden text-base inline-block mb-6 lg:mb-12 font-custom font-bold uppercase text-red-500 px-4 pt-4" %>

    <div class="flex flex-wrap lg:flex-col [&>*]:rounded-lg [&>*]:bg-white/10 lg:gap-1 [&>*]:px-4 [&>*]:py-2 flex-row gap-x-1 gap-y-1 font-custom text-lg">

    <%= link_to root_path, class: "hover:opacity-60 transition font-custom font-bold" do %>
Ruby <span class="text-red-500 ">&</span> Rails
    <% end %>

      <%= link_to tags_path, class: "hover:opacity-60 transition" do %>
        Topics 
      <% end %>

      <%= link_to books_path, class: "hover:opacity-60 transition" do %>
        Books
      <% end %>

      <%= link_to courses_path, class: "hover:opacity-60 transition" do %>
        Courses
      <% end %>

      <% if current_user.try(:admin?) %>
      <%= link_to youtubes_path, class: "hover:opacity-60 transition" do %>
        Youtube Courses 
      <% end %>
      <% end %>

      <%= link_to screencasts_path, class: "hover:opacity-60 transition" do %>
        Screencasts 
      <% end %>

      <%= link_to newsletters_path, class: "hover:opacity-60 transition" do %>
        Newsletters 
      <% end %>

      <%= link_to podcasts_path, class: "hover:opacity-60 transition" do %>
        Podcasts 
      <% end %>

      <%= link_to authors_path, class: "hover:opacity-60 transition" do %>
        People 
      <% end %>

      <%= link_to communities_path, class: "hover:opacity-60 transition" do %>
        Communities 
      <% end %>

      <%= link_to events_path, class: "hidden hover:opacity-60 transition" do %>
        Events 
      <% end %>

      <%= link_to "/pages/about", class: "hover:opacity-60 transition" do %>
        About 
      <% end %>

    </div>

  </div>

  <div class="flex items-center md:gap-5">
    <% if user_signed_in? %>

      <div>
        <% if current_user.admin? %>
          <span>🔥</span>
        <% end %>
        <%= link_to current_user.name, user_path(current_user) %>
      </div>

      <%= button_to destroy_user_session_path, method: :delete do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" /> </svg>
      <% end %>
      <% end %>
  </div>
</nav>




