<nav class="flex font-custom text-base justify-between pt-10 pb-28">
  <%= link_to 'Ruby & Rails', root_path %>
  <div class="flex gap-5">
    <%= link_to 'Books', books_path %>
    <%= link_to 'Course', courses_path, class: "hidden" %>
    <%= link_to 'Authors', authors_path %>
    <%= link_to 'Want to Learn', tags_path %>

    <% if current_user.try(:admin?) %>
      <%= link_to 'Users', users_path %>
    <% end %>
  </div>

  <div class="flex hidden items-center gap-5">
    <% if user_signed_in? %>

      <div>
        <% if current_user.admin? %>
          <span>🔥</span>
        <% end %>
        <%= link_to current_user.name, user_path(current_user) %>
      </div>

      <%= button_to destroy_user_session_path, method: :delete do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" /> </svg>
      <% end %>
    <% else %>
      <%= link_to 'Log In', new_user_session_path %>
      <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
  </div>
</nav>
