<div class="bg-gradient-to-t md:bg-gradient-to-r from-slate-800 to-red-700 relative flex flex-col lg:w-2/3 p-8 lg:p-12 text-white">

    <%= link_to @book_of_the_week, class: "flex flex-col 2xl:flex-row gap-6" do %>

      <%= image_tag("books/#{@book_of_the_week.cover}", 
                    alt: "#{@book_of_the_week.title}", 
                    class: "xl:-mt-20 md:w-1/3 rounded-md w-2/3 shrink-0 self-start shadow-xl shadow-slate-900/30") %>

      <div class="xl:mt-auto">
        <p class="font-bold hover:opacity-80 xl:text-3xl font-custom">
          <%= @book_of_the_week.title %>
        </p>

        <p class="text-lg">
          by <%= @book_of_the_week.authors.map(&:name).join(", ") %>
        </p>
      </div>
    <% end %>

    <%= image_tag("book_of_the_week.png", 
                  srcset: { "book_of_the_week@2x.png" => "2x" }, 
                  alt: "Book of the week", 
                  class: "absolute top-4 p-4 right-4 drop-shadow-xl") %>
</div>
