<% title "Ruby & Ruby on Rails" %>
<% description "Books, newsletters, podcasts about Ruby & Ruby on Rails in one place." %>

<div class="space-y-32">
  <% unless @featured_book.empty? || @featured_podcast.empty? || @featured_newsletter.empty? %>
  <div>
    <%= render(Layout::HeroComponent.new(title: "book", bg_color: "from-red-800 via-red-700 to-yellow-500", bg: "book")) do |c| %>

      <% @featured_book.each do |book| %>
        <%= c.with_image do %>
          <div class="lg:w-2/3">
            <%= render BookCoverComponent.new(book: book) %> 
          </div>
        <% end %>

        <%= c.with_link do %>
          <div class="lg:self-end">
            <%= link_to book_path(book), class: "text-3xl inline-block md:leading-tight md:text-4xl 2xl:text-5xl font-bold lg:mb-4 hover:opacity-90" do %> 
              <%= book.title %>
            <% end %>
            <div class="mb-8 xl:text-3xl">
              by <%= book.authors.map { |author| link_to(author.name, author, class: "hover:opacity-90") }.join(", ").html_safe %>
            </div>

            <div class="flex flex-wrap gap-2 mb-8 lg:mb-0 items-start justify-start ">
              <%= render ButtonComponent.new(title: "Details", path: book_path(book)) do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 mt-1 w-7" viewBox="0 0 20 20" fill="currentColor"> <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" /> </svg>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="grid grid-cols-2">
      <div class="bg-gradient-to-b from-blue-800 via-blue-600 to-yellow-500">

        <% @featured_podcast.each do |podcast| %>
          <%= link_to podcast_path(podcast), class: "text-white px-5 md:px-10 lg:px-16 py-10 flex flex-col lg:flex-row gap-4 lg:gap-8" do %> 
            <% unless podcast.cover.nil? || podcast.cover.empty? %>
              <%= image_tag("podcasts/#{podcast.cover}", alt: "#{podcast.title}", class: "shrink md:w-1/3 shadow-xl shadow-slate-800/30") %>
            <% end %>
            <div class="flex flex-col justify-between">
              <p>Podcast</p>
              <span class="text-3xl inline-block md:leading-tight md:text-3xl font-bold hover:opacity-90">
                <%= podcast.title %>
              </span>
            </div>
          <% end %>
        <% end %>

      </div>

      <div class="bg-gradient-to-b from-emerald-700 via-emerald-500 to-yellow-500">
        <% @featured_newsletter.each do |newsletter| %>
          <%= link_to newsletter_path(newsletter), class: "text-white px-5 md:px-10 lg:px-16 py-10 flex flex-col justify-between h-full gap-4 lg:gap-8" do %> 
            <p>Newsletter</p>
            <span class="text-3xl inline-block md:leading-tight md:text-3xl font-bold hover:opacity-90">
              <%= newsletter.title %>
              <div class="opacity-70 xl:text-3xl">
                by <%= newsletter.author %>
              </div>
            </span>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <% end %>

  <%= render Layout::TwoColumnsComponent.new(title: "Ruby and Ruby on Rails") do |c| %>
    <%= c.with_data do %>
      <p class="mb-10">A daily updated collection of books, newsletters, podcasts about Ruby & Ruby on Rails in one place.</p>
      <ul class="space-y-8">
        <li>
          <%= link_to books_path, class: "hover:text-red-500 font-bold text-3xl md:text-5xl" do %>
            Books 
            <sup class="text-slate-600">
              <%= @books.count %>
            </sup>        
          <% end %>
        </li>
        <li>
          <%= link_to podcasts_path, class: "hover:text-red-500 font-bold text-3xl md:text-5xl" do %>
            Podcasts 
            <sup class="text-slate-600">
              <%= @podcasts.count %>
            </sup>        
          <% end %>
        </li>
        <li>
          <%= link_to newsletters_path, class: "hover:text-red-500 font-bold text-3xl md:text-5xl" do %>
            Newsletters 
            <sup class="text-slate-600">
              <%= @newsletters.count %>
            </sup>        
          <% end %>
        </li>
        <li>
          <%= link_to tags_path, class: "hover:text-red-500 font-bold text-3xl md:text-5xl" do %>
            Topics for learning 
            <sup class="text-slate-600">
              <%= @tags.count %>
            </sup>        
          <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>

  <%= render Layout::TwoColumnsComponent.new(title: "I want to learn", attr: "bg-slate-100 py-5 md:py-10 xl:py-20") do |c| %>
    <%= c.with_data do %>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <%= @tags.map { |t| link_to(t.title, t, class: "hover:text-purple-500 inline-block") }.join(" ").html_safe %>
      </div>
    <% end %>
  <% end %>
</div>

