<% title 'Podcasts about Ruby and Ruby on Rails' %>
<% description 'Discussions about Ruby, Ruby on Rails, development and life' %>

<h1 class="font-bold mb-5 font-custom text-5xl">Podcasts about Ruby & Ruby on Rails</h1>
<p class="max-w-xl mb-10 md:mb-20">Find your perfect podcast about Ruby and the Ruby on Rails community. Discussions about development and life.</p>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-10 xl:gap-16">

  <div class="md:col-span-2 lg:col-span-3 grid lg:grid-cols-2 2xl:grid-cols-4 gap-10">

    <%= render "podcast_card", title: "iteration", description: "A podcast about development and design. We do our best to be code-agnostic but we talk a lot about Rails, JavaScript, React, React Native, design, business and startups.", cover: "iteration.jpg", link: "https://iteration.simplecast.com/episodes" %>

    <%= render "podcast_card", title: "Maintainable", description: "On the Maintainable software podcast, we speak with seasoned practitioners who have worked past the problems often associated with technical debt and legacy code.", cover: 'maintainable.jpg', link: 'https://maintainable.fm/episodes' %>

    <%= render "podcast_card", title: "My Ruby on Rails Journey", description: "My journey into becoming a Ruby on Rails developer. Here I will talk about my approach to studying, tutorials I've taken or am taking. Would like to even interview some other people on the same journey, as well as people who have made it.", cover: "my-ruby-on-rails-journey.jpg", link: "https://anchor.fm/jeremy-lincoln" %>

    <%= render "podcast_card", title: "My Ruby Story", description: "A weekly exploration into the people who make Ruby what it is.", cover: "my-ruby-story.jpg", link: "https://podcasts.apple.com/us/podcast/my-ruby-story/id1237404328" %>

    <%= render "podcast_card", title: "Remote Ruby", description: "Three Rubyists having conversations and interviewing others about Ruby and web development.", cover: "remote-ruby.jpg", link: "https://remoteruby.transistor.fm/episodes" %>

    <%= render "podcast_card", title: "Ruby on Rails Podcast with Brittany Martin", description: "A weekly exploration into the people who make Ruby what it is.", cover: "ruby-on-rails-podcast-with-brittany-martin.jpg", link: "https://www.therubyonrailspodcast.com/episodes" %>

    <%= render "podcast_card", title: "Ruby Rogues", description: "A weekly discussion about Ruby, Rails, and software development involving the Top End Devs in the community and around the world.", cover: "ruby-rogues.jpg", link: "https://topenddevs.com/podcasts/ruby-rogues/" %>

    <%= render "podcast_card", title: "Running in Production", description: "A podcast where folks talk about running small & large web apps in production. Topics include tech stacks, lessons learned and DevOps / deployment tips.", cover: "running-in-production.jpg", link: "https://runninginproduction.com/tags/ruby" %>

    <%= render "podcast_card", title: "Sidekiq in Practice", description: "Talking about scaling Sidekiq the popular Ruby background job processor and frequent companion to Ruby on Rails applications.", cover: "sidekiq-in-practice.jpg", link: "https://podverse.fm/podcast/K1ZZziM-L" %>

    <%= render "podcast_card", title: "Start Here: Ruby on Rails", description: "Are you a new Ruby on Rails developer in need of guidance? Well, StartHere: Ruby on Rails is the show for you! Dain Miller is your Ruby on Rails coach and he’ll provide insight, and resources to help get you from knowing nothing to becoming a full-time Ruby ninja. Everyone starts somewhere and you’re starting here!", cover: "start-here-ruby-on-rails.jpg", link: "https://rubyrogues.com/episodes" %>

    <%= render "podcast_card", title: "The Bike Shed", description: "On The Bike Shed, hosts Chris Toomey & Steph Viccari discuss their development experience and challenges at thoughtbot with Ruby, Rails, JavaScript, and whatever else is drawing their attention, admiration, or ire this week.", cover: "the-bike-shed.jpg", link: "https://www.bikeshed.fm/episodes" %>

    <%= render "podcast_card", title: "The Code with Jason Podcast", description: "On the Code with Jason podcast I discuss technical topics with interesting people", cover: "the-code-with-jason-podcast.jpg", link: "https://www.codewithjason.com/podcast/" %>

    <%= render "podcast_card", title: "The Ruby Blend", description: "A Ruby podcast focused on what’s happening in the Ruby development community.", cover: "the-ruby-blend.jpg", link: "https://rubyblend.transistor.fm/episodes" %>
  </div>

</div>
