<div class="p-20 text-stone-800 rounded-3xl bg-white">
  <h2 class="text-4xl font-bold font-custom mb-20">
    <%= pluralize(@book.authors.count, "Author") %> 
  </h2>

  <div class="grid grid-cols-1 gap-20">
    <% @book.authors.each do |author| %>
      <div class="md:grid md:grid-cols-3 leading-relaxed group gap-10">

        <%= link_to author do %>
          <h3 class="text-4xl md:col-span-1 font-bold font-custom mb-16 text-red-600 hover:text-red-700">
            <%= author.name %>
          </h3>
        <% end %>

        <div class="md:col-span-2">
          <div class="mb-5 first-line:uppercase first-line:tracking-wide
                       first-letter:text-7xl first-letter:font-bold first-letter:text-slate-900
                       first-letter:mr-3 first-letter:float-left">
            <%= author.content %>
          </div>
          <div class="flex gap-8 items-center">

            <%= link_to author.siteUrl, target: "_blank" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-stone-700 hover:stroke-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /> </svg>
            <% end %>

             <% if author.twitterUrl.present? %>
              <%= link_to author.twitterUrl, target: "_blank" do %>
                <svg class="stroke-stone-700 hover:stroke-red-500" width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M23 2.00005C22.0424 2.67552 20.9821 3.19216 19.86 3.53005C19.2577 2.83756 18.4573 2.34674 17.567 2.12397C16.6767 1.90121 15.7395 1.95724 14.8821 2.2845C14.0247 2.61176 13.2884 3.19445 12.773 3.95376C12.2575 4.71308 11.9877 5.61238 12 6.53005V7.53005C10.2426 7.57561 8.50127 7.18586 6.93101 6.39549C5.36074 5.60513 4.01032 4.43868 3 3.00005C3 3.00005 -1 12 8 16C5.94053 17.398 3.48716 18.099 1 18C10 23 21 18 21 6.50005C20.9991 6.2215 20.9723 5.94364 20.92 5.67005C21.9406 4.66354 22.6608 3.39276 23 2.00005V2.00005Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </svg> 
              <% end %>
            <% end %>

          </div>

        </div>
      </div>
    <% end %>
  </div>

</div> 
