<%= form_with(model: @book, class: "text-stone-800") do |f| %>

  <div class="flex flex-col gap-1 mb-4">
    <%= f.label :title, class: "text-base" %>
    <%= f.text_field :title %>
  </div>

  <div class="flex flex-col gap-1 mb-4">
    <%= f.label :subtitle, class: "text-base" %>
    <%= f.text_field :subtitle%>
  </div>
  
  <div class="flex text-base flex-col gap-1">
    <%= f.label :content, class: "text-base"  %>
    <%= f.rich_text_area :content %>
  </div>


  <div class="flex flex-col gap-1 mb-4">
    <%= f.label 'Amazon', class: "text-base"  %>
    <%= f.text_field :getBookOnAmazonUrl %>
  </div>

  <div class="flex flex-col gap-1 mb-4">
    <%= f.label 'Get book on', class: "text-base"  %>
    <%= f.text_field :getBookOnSiteTitle, placeholder: 'Site title' %>
    <%= f.text_field :getBookOnSiteUrl, placeholder: 'Site url' %>
  </div>

  <div class="text-base grid grid-flow-col auto-cols-fr mb-5 gap-1">
    <%= f.label :tag, class: "mr-10" %>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :title do |c| %>
      <div class="flex items-center gap-2">
        <%= c.check_box %>
        <%= c.label %>
      </div>
    <% end %>
  </div>

  <div class="text-base grid grid-flow-col auto-cols-fr mb-5 gap-1">
    <%= f.label :author, class: "mr-10" %>
    <%= f.collection_check_boxes :author_ids, Author.all, :id, :name do |c| %>
      <div class="flex items-center gap-2">
        <%= c.check_box %>
        <%= c.label %>
      </div>
    <% end %>
  </div>

  <div class="flex items-center mb-5 gap-2 mb-4">
    <%= f.check_box :free %>
    <%= f.label "Free book", class: "text-base"  %>
  </div>

  <div>
    <%= f.submit class: "bg-red-600 text-white px-5 py-3" %>
  </div>

<% end %>
