<div class="flex flex-col md:flex-row md:gap-10">
  <div class="md:w-2/3">

    <% unless @featured.empty? %>
      <% @featured.each do |book| %>

        <section class="flex mb-20 flex-col lg:flex-row gap-10">
          <%= link_to book_path(book), class: "w-1/2 md:w-1/2 mx-auto  block" do %> 
            <%= render BookCoverComponent.new(book: book) %> 
          <% end %>

          <div class="w-full flex flex-col justify-center items-center">
              <%= link_to book_path(book), class: "hover:text-red-500 text-3xl lg:text-5xl mb-2 inline-block md:leading-tight font-custom text-center" do %> 
            <h1>
                <%= book.title %>
            </h1>
              <% end %>
            <div class="mb-8">
              by <%= book.authors.map { |author| link_to(author.name, author, class: "hover:text-red-500") }.join(", ").html_safe %>
            </div>

            <div class="flex flex-wrap gap-2 items-start justify-start ">
              <%= link_to "Learn more", book_path(book), class: "font-custom self-start border border-slate-800 px-4 py-2 bg-slate-800 hover:bg-slate-900 text-white"  %>
            </div>
          </div>
        </section>
      <% end %>
    <% end %>
  </div>

  <div class="hidden md:block border-l border-slate-300 pl-10 p-6 ml-auto md:w-1/4 mb-20">
    <%= link_to books_free_index_path, class: "block mb-8" do %>
      <h3 class="font-bold font-custom hover:text-red-500">Free Books</h3>
      <p class="text-base text-slate-600">Free books about Ruby and Ruby on Rails</p>
    <% end %>

    <%= link_to "https://rubyandrails.info/learn/testing", class: "block mb-8" do %>
      <h3 class="font-bold font-custom hover:text-red-500">Books about Testing</h3>
      <p class="text-base text-slate-600">Learn Testing, and TDD, RSpec, Minitest</p>
    <% end %>

    <%= link_to "https://rubyandrails.info/learn/ruby", class: "" do %>
      <h3 class="font-bold font-custom hover:text-red-500">Podcasts about Ruby & Ruby on Rails</h3>
      <p class="text-base text-slate-600">Best podcasts to listen to on your commute</p>
    <% end %>
  </div>

</div>

<div class="mb-20 border-t border-slate-300 pt-20">
  <h1 class="mb-8 font-custom text-3xl md:text-5xl">
    <%= Book.count %> books<br/>about Ruby & Ruby on Rails
  </h1>
  <div class="md:ml-64 leading-relaxed">
    <p class="mb-4">If you're interested in learning Ruby or Ruby on Rails, or if you want to brush up on your testing skills or learn more about other themes, you're in luck. There are plenty of free books available on these topics. Whether you're a beginner or an expert, you're sure to find something that interests you.</p>
  </div>

</div>

<div class="mb-20">
  <h2 class="text-3xl font-custom mb-8">Choose a topic you want to learn more about</h2>
  <div class="flex flex-wrap gap-2">
    <%= @tags.map { |t| link_to(t.title, t, class: "text-red-500 hover:text-red-500 bg-slate-100 px-4 py-2 hover:bg-slate-50") }.join(" ").html_safe %>
  </div>
</div>


<h2 class="text-3xl font-custom mb-8">All Books</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 md:gap-8 xl:gap-16 mb-20">
  <%= render (BookCardComponent.with_collection(@books)) %>
</div>

<%== pagy_nav(@pagy) %>

<% if current_user.try(:admin?) %>
  <%= link_to new_book_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>
