<div class="px-10 grid lg:grid-cols-5 gap-20 ">
  <div class="col-span-2">
    <h1 class="font-bold font-custom text-8xl max-w-xl mb-20">Books About Ruby & Ruby on Rails</h1>
    <p class="font-bold">I want to learn</p>
    <div class="flex flex-wrap gap-4">
      <span>
        <%= @tags.map { |t| link_to(t.title, t, class: "hover:text-red-600") }.join(" &bull; ").html_safe %>
      </span>
    </div>
  </div>

  <div class="col-span-3 flex flex-col gap-20">
    <% @books.each do |book| %>
      <%= link_to book, class: "flex gap-4 group flex-col" do %>
        <h3 class="font-bold group-hover:text-red-600 text-5xl flex gap-5 items-center">
          <%= book.title %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 -translate-x-8 opacity-0 group-hover:opacity-100 shrink-0 group-hover:transition-all group-hover:duration-300 group-hover:translate-x-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" /> </svg>
        </h3>
        <span class="font-normal opacity-70">
          by
          <%= book.authors.map(&:name).join(", ") %>

        </span>
      <% end %>

    <% end %>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_book_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>
