<h1 class="font-bold font-custom text-5xl max-w-xl mb-20">Books About Ruby & Ruby on Rails</h1>

<% if current_user.try(:admin?) %>
  <%= link_to new_book_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>

<div class="grid grid-cols-3 mb-20 gap-20">
  <div class="col-span-3">
    <h3 class="mb-5 font-custom">Want to Learn</h3>
    <ul class="flex font-custom text-xl flex-wrap gap-3">
      <% @tags.each do |tag| %>
        <li class="bg-stone-600 rounded-full hover:bg-stone-500 px-5 py-2">
          <%= link_to tag.title, tag %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-span-3 grid grid-cols-2 gap-10">
    <% @books.each do |book| %>
      <%= link_to book, class: "bg-white flex flex-col gap-5 relative hover:scale-110 transition-all hover:duration-300 p-8 font-bold rounded-2xl text-red-600 font-custom text-2xl" do %>
          <div class="inline-block text-stone-600 font-normal text-base">
        <% book.authors.each do |author| %>
            <%= author.name %>
        <% end %>
          </div>

        <div class="">
          <%=  book.title %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
