<h1>Books</h1>

<%= link_to 'New book', new_book_path %>

<h2>Books</h2>
<ul>
  <% @books.each do |book| %>
    <li>
      <% if book.free? %>
        <%= link_to book.title, book %> 🤑
      <% else %>
        <%= link_to book.title, book %>
      <% end %>

      <%= link_to 'Edit', edit_book_path(book) %>
    </li>
  <% end %>
</ul>

<aside>
  <h2>All tags</h2>
  <ul>
    <% @tags.each do |tag| %>
      <li>
        <%= link_to tag.title, tag %>
      </li>
    <% end %>
  </ul>
</aside>