<section class="light-wrapper-bg mt-20 mb-12 text-center">
  <%= render "shared/btn_back", path: books_path %>

  <div class="-mt-36 mb-8">
    <%= render partial: "book_cover", locals: { book: @book } %>
  </div>

  <%= render "shared/authors",  authors: @book %>

  <h1 class="h1 text-center">
    <%= @book.title %>
  </h1>

  <div class="mb-8 flex justify-center">
    <%= render "shared/tags", tags: @book %>
  </div>

  <div class="flex mb-16 flex-col lg:flex-row gap-4 justify-center">
    <%= render "shared/btn_cta", btn: @book.getBookOnSiteUrl, event: "get book on publusher site", title: "#{@book.getBookOnSiteTitle}" %>

    <%= render "shared/btn_cta", btn: @book.getBookOnAmazonUrl, event: "get book on amazon", title: "Amazon" %>
  </div>

  <div class="text-lg max-w-2xl mx-auto text-left">
    <%= @book.content %>
  </div>
</section>

<% unless @similar.empty? %>
  <%= render "shared/suggestions_books" %>

  <div class="mb-8">
    <h2 class="h2">More great books on this topic</h2>
  </div>

  <%= render partial: "books/books_list", locals: { list: @similar} %>

<% end %>



<%= render "shared/btns_add", item: @book, path: edit_book_path(@book) %>
