<div class="mb-20">

  <section class="flex flex-col md:flex-row gap-8 md:gap-20 mb-8 lg:mb-20">

    <div class="w-1/2 md:w-1/2 xl:w-1/3 mx-auto">
      <%= render BookCoverComponent.new(book: @book) %> 
    </div>

    <div class="flex flex-1 justify-between flex-col items-center text-center">
      <%= link_to "All Books", books_path, class: "mb-4 md:inline-block text-red-500 hidden" %>

      <h1 class="text-2xl mb-8 lg:mb-0 md:text-4xl max-w-2xl font-custom lg:leading-tight lg:text-5xl">
        <%= @book.title %>
      </h1> 
      <div>
        <p class="mb-4 font-custom">Get this books on</p>
        <div class="flex flex-wrap gap-2 justify-center md:justify-start">
          <% if @book.getBookOnSiteUrl.present? %>
            <%= render ButtonComponent.new(title: @book.getBookOnSiteTitle, path: @book.getBookOnSiteUrl, shop: true) %>
          <% end %>
          <% if @book.getBookOnAmazonUrl.present? %>
            <%= render ButtonComponent.new(title: "Amazon", path: @book.getBookOnAmazonUrl, shop: true) %>
          <% end %>
        </div>
      </div>
    </div>
  </section>


  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-10 xl:gap-20">
    <section class="md:col-span-3 grid grid-cols-1 md:grid-cols-3 md:place-items-end pt-6 md:pt-12 border-t border-slate-200 md:gap-y-10 md:gap-x-20 lg:gap-x-28">

      <h2 class="md:col-span-1 mb-2 font-custom">Author</h2>
      <div class="place-self-start md:col-span-2 mb-8 md:mb-0">
        <%= @book.authors.map { |author| link_to(author.name, author, class: "text-red-500 hover:text-red-500") }.join(", ").html_safe %>
      </div>

      <h2 class="md:col-span-1 mb-2 font-custom">You'll learn</h2>
      <div class="place-self-start md:col-span-2  mb-8 md:mb-0 flex flex-wrap gap-2">
        <% @book.tags.each do |item| %>
          <div class="bg-slate-100 px-4 py-2 hover:bg-slate-50">
            <%= link_to item, class: "text-red-500 hover:text-red-500" do %>
              <%= item.title %>
            <% end %>
          </div>
        <% end %>
      </div>

      <h2 class="md:col-span-1 mb-2 font-custom self-start">About book</h2>
      <div class="place-self-start pr-8 xl:pr-0 max-w-2xl md:col-span-2 mb-8 md:mb-0">
        <%= @book.content %>
      </div>
    </section>


    <div class="md:col-span-3 lg:col-span-1 lg:pr-8">
      <h3 class="font-custom font-bold mb-8">More books</h3>

      <ul class="flex lg:flex-col gap-8">
        <% @more_books.each do |book| %>
          <li class="flex-1">
            <%= link_to book, class: "hover:text-red-500" do %>
              <% unless book.cover.nil? || book.cover.empty? %>
                <%= image_tag("books/#{book.cover}", alt: "#{book.title}", class: "shrink-0 block shadow-xl mb-2 shadow-slate-800/20 w-1/3") %>
              <% end %>
              <%= book.title %> 
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

</div>


<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 z-50 right-10 flex gap-10">
    <%= link_to 'Edit', edit_book_path(@book) %>
    <%= button_to 'Delete', @book, method: :delete, style: 'background: tomato' %>
  </div>
<% end %>

