<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 right-10 flex gap-10">
    <%= link_to 'Edit', edit_book_path(@book) %>
    <%= button_to 'Delete', @book, method: :delete, style: 'background: tomato' %>
  </div>
<% end %>

<div class="mb-40 ">
  <div class="pb-16 lg:pb-32">

    <div class="flex justify-between">
      <%= render "shared/breadcrumbs", title: "All Books", path: books_path %>
      <div class="flex hidden gap-5">
        <%= link_to "Previous", @previous_book, class: "text-red-500 text-xl hover:text-red-600" %>
        <%= link_to "Next", @next_book, class: "text-red-500 text-xl hover:text-red-600" %>
      </div>
    </div>

    <!-- author & about book -->
    <section>
      <div class="mb-10 lg:mb-20">
        <h1 class="font-bold mb-5 font-custom text-5xl max-w-4xl"><%= @book.title %></h1>
        <div class="text-xl">
          by <%= @book.authors.map { |author| link_to(author.name, author, class: "hover:text-red-500") }.join(", ").html_safe %>
        </div>
      </div>
      <div class="grid lg:grid-cols-4 xl:grid-cols-5 gap-5 md:gap-10 xl:gap-20">
        <article class="lg:col-span-2 xl:col-span-3 text-lg md:text-xl max-w-3xl">
          <%= @book.content %>
        </article>

        <div class="lg:col-span-2 text-lg">

          <div class="w-72 p-5 border border-slate-200 rounded-sm">
            <div class="space-y-6">
              <div class="flex flex-col space-y-2 leading-tight font-bold gap-1">
              <h4 class="font-custom font-bold">Get it on</h4>
                <% if @book.getBookOnAmazonUrl.present? %>
                  <%= link_to @book, target: "_blank", class: "hover:text-red-500" do %>
                    Amazon
                  <% end %>
                <% end %>

                <% if @book.getBookOnSiteUrl.present? %>
                  <%= link_to @book.getBookOnSiteUrl, target: "_blank", class: "hover:text-red-600" do %>
                    <%= @book.getBookOnSiteTitle %>
                  <% end %>
                <% end %>
              </div>

            
              <section>
                <%= link_to "What you'll learn", tags_path, class: "mb-2 font-custom text-purple-500 font-bold" %>

                <ul class="space-y-1">
                  <% @book.tags.each do |item| %>
                    <li>
                      <%= link_to item, class: "hover:text-purple-500" do %>
                        <%= item.title %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </section>

            <section>
              <%= link_to "#{'Author'.pluralize(@book.authors.count)}", tags_path, class: "mb-2 font-custom text-orange-500 font-bold" %>

              <ul class="space-y-1">
                <% @book.authors.each do |item| %>
                  <li>
                    <%= link_to item, class: "hover:text-orange-500" do %>
                      <%= item.name %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </section>

            </div>
          </div>
        </div>
      </div>
    </section>
</div>

