<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 right-10 flex gap-10">
    <%= link_to 'Edit', edit_book_path(@book) %>
    <%= button_to 'Delete', @book, method: :delete, style: 'background: tomato' %>
  </div>
<% end %>

<div class="mb-40 px-10 divide-y divide-slate-300">
  <div class="pb-16 lg:pb-40">

    <%= render "shared/breadcrumbs", title: "Books", path: books_path, current_title: @book.title %>

    <!-- author & about book -->
    <section>
      <div class="mb-4 lg:mb-20">
        <h1 class="text-4xl lg:text-7xl mb-5 max-w-4xl font-bold"><%= @book.title %></h1>
        <%= @book.authors.map { |author| link_to(author.name, author, class: "hover:text-red-500") }.join(", ").html_safe %>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-5 gap-10 lg:gap-20">
        <article class="mb-10 lg:col-start-3 lg:col-span-3">
          <%= @book.content %>
        </article>
      </div>
    </section>

  <!-- get book on -->
  <section>
    <div class="grid grid-cols-1 lg:grid-cols-5 gap-10 lg:gap-20">
      <div class="lg:col-span-3 lg:col-start-3 grid md:grid-cols-2 gap-8 md:gap-10">
        <% if @book.getBookOnAmazonUrl.present? %>
          <%= link_to @book, class: "p-8 flex justify-center items-center flex-col font-bold group bg-slate-700 hover:bg-red-600 text-white" do %>
            <span class="block self-start font-normal text-base">
              Get it on
            </span>
            <div class="flex text-3xl self-start gap-4 items-center">
              <span class="group-hover:translate-x-8 transition-all duration-300">
                Amazon
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 shrink-0 w-6 opacity-0 group-hover:opacity-100 -translate-x-20 group-hover:translate-x-4 transition-all duration-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            </div>
          <% end %>
        <% end %>

        <% if @book.getBookOnSiteUrl.present? %>
          <%= link_to @book.getBookOnSiteUrl, class: "p-8 flex justify-center items-center flex-col font-bold group bg-slate-700 hover:bg-red-600 text-white" do %>
            <span class="block self-start font-normal text-base">
              Get it on
            </span>
            <div class="flex text-3xl self-start gap-4 items-center">
              <span class="group-hover:translate-x-8 transition-all duration-300">
                <%= @book.getBookOnSiteTitle %>
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 shrink-0 w-6 opacity-0 group-hover:opacity-100 -translate-x-20 group-hover:translate-x-4 transition-all duration-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" /> </svg>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  </div>

  <!-- what you'll learn -->
  <%= render "shared/list", obj: @book.tags, link: tags_path, title: "Explore all themes" do %>
    What you'll learn 
  <% end %>

  <!-- books from author -->
  <%= render "shared/list", obj: @book.authors, people: true, link: authors_path, title: "Explore all authors" do %>
    <%= "Author".pluralize(@book.authors.count) %> 
  <% end %>

</div>

