<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 right-10 flex gap-10">
    <%= link_to 'Edit', edit_book_path(@book) %>
    <%= button_to 'Delete', @book, method: :delete, style: 'background: tomato' %>
  </div>
<% end %>

<div class="space-y-20 mb-40">
  <%= render "hero" %>
  <%= render "content" %>
  <%= render "learn" %>
  <%= render "author" %>
  <%= render "buy" %>
</div>
