<% content_for :hero do %>
  <%= render "shared/btn_back", path: books_path %>

  <div class="flex-1 flex flex-col gap-10 items-center">
    <%= render "shared/free_label", source: @book %>
    <div>
      <%= render partial: "books/book_cover", locals: { book: @book } %>

      <h1 class="h1 max-w-4xl mx-auto my-6">
        <%= @book.title %>
      </h1>
      <div class="flex flex-col gap-4 justify-center max-w-lg mx-auto">
        <%= render "shared/btn_cta", btn: @book.getBookOnSiteUrl, event: "get book on publisher site", title: "Get This Book" %>
        <div>
          <span class="opacity-70 mr-2">or buy it on</span>
          <%= link_to "Amazon", @book.getBookOnAmazonUrl, class: "text-amber-100 hover:opacity-80 transition font-bold text-2xl font-custom" %>
        </div>
        <%#= render "shared/btn_cta", btn: @book.getBookOnAmazonUrl, event: "get book on amazon", title: "Amazon" %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <%= @book.content %>
<% end %>

<% content_for :tags do %>
  <%= render "shared/tags_big", tag: @book.tags, btn: @book.getBookOnSiteUrl, event: "get book on publisher site" %>
<% end %>

<% content_for :authors do %>
  <%= render partial: "shared/author_second",  collection: @book.authors, as: :author %>
<% end %>

<% content_for :related do %>
  <div class="p-5 md:p-10 xl:p-16 grid sm:grid-cols-2 gap-8 text-slate-700 bg-white/90 rounded-3xl ">
  <%= render partial: "books/card_compact", collection: @similar, as: :book %>
  </div>
<% end %>
