<%= form_with(model: @youtube, class: "text-stone-800") do |f| %>

  <div class="flex  gap-1 mb-4">
    <%= f.label :title, class: "w-1/3 text-base" %>
    <%= f.text_field :title, class: "w-2/3" %>
  </div>

  <div class="flex  gap-1 mb-4">
    <%= f.label :cover, class: "w-1/3 text-base" %>
    <%= f.text_field :cover, class: "w-2/3"  %>
  </div>

  <div class="flex  gap-1 mb-4">
    <%= f.label :description, class: "w-1/3 text-base" %>
    <%= f.text_field :description, class: "w-2/3"  %>
  </div>

  <div class="flex  gap-1 mb-4">
    <%= f.label :url, class: "w-1/3 text-base" %>
    <%= f.text_field :url, class: "w-2/3"  %>
  </div>

  <div data-controller="tom-select">
    <%= f.select :tag_ids, Tag.all.pluck(:title, :id), {}, { multiple: true, id: "select-tags", class: "ml-auto w-2/3" } %>
  </div>

  <div class="text-base mb-5">
    <%= f.label :author, class: "mr-10" %>
    <div class="grid grid-cols-3 mb-5 gap-1">
      <%= f.collection_check_boxes :author_ids, Author.all, :id, :name do |c| %>
        <div class="flex items-center gap-2">
          <%= c.check_box %>
          <%= c.label %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= f.submit class: "bg-red-600 text-white px-5 py-3" %>
  </div>

<% end %>
