<% content_for :hero do %>
  <%= render "shared/btn_back", path: youtubes_path %>

 <div class="flex-1 flex flex-col gap-10 items-center">
    <div>

      <% unless @youtube.cover.nil? || @youtube.cover.empty? %>
        <div class="relative">
          <%= link_to @youtube,  class: "" do %>
            <%= image_tag("youtube-courses/covers/#{@youtube.cover}", alt: "", class: "object-cover w-full rounded-2xl ") %>
          <% end %>
        </div>
      <% end %>

      <h1 class="h1 max-w-4xl mx-auto my-6">
        <%= @youtube.title %>
      </h1>

      <div class="flex justify-center flex-col lg:flex-row gap-4">
        <% if [@youtube, @youtube.lessons.first].present? %>
          <%= link_to [@youtube, @youtube.lessons.first], data: {:"splitbee-event" => "get book on publisher site"}, class: "inline-block bg-blue-500 text-white hover:-translate-y-2 hover:shadow-blue-900/40 hover:bg-blue-600 hover:shadow-xl transition duration-300 rounded-lg shadow-sm shadow-purple-900/30 px-12 py-5 text-2xl font-bold font-custom" do %>
            First Lesson
          <% end %>
        <% end %>

        <%= render "shared/btn_cta", btn: [@youtube, @youtube.lessons.first], event: "get book on publisher site", title: "YouTube" %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <%= @youtube.description %>
<% end %>

<% content_for :tags do %>
  <%= render "shared/tags_big", tag: @youtube.tags, btn: [@youtube, @youtube.lessons.first], event: "get book on publisher site" %>
<% end %>

<% content_for :authors do %>
  <%= render partial: "shared/author_second",  collection: @youtube.authors, as: :author %>
<% end %>

<% content_for :lesson do %>
  <ol class="list-decimal space-y-4 list-inside">
      <% @youtube.lessons.order(created_at: :asc).each do |lesson| %>
        <li>
          <%= link_to lesson.title, [@youtube, lesson], class: "hover:text-red-500" %>
        </li>
      <% end %>
  </ol>
<% end %>

<% content_for :related do %>
  <div class="p-5 md:p-10 xl:p-12 grid sm:grid-cols-2 gap-8 text-slate-700 bg-white/70 rounded-3xl ">
    <%= render partial: "youtubes/card", collection: @related, as: :youtube %>
  </div>
<% end %>

