<% content_for :hero do %>

  <%= render "shared/btn_back", path: tags_path %>
  <%= render "shared/page_title", title: "Learn #{ @tag.title.capitalize() } with books and courses", description: "There are some great books and courses available on the #{ @tag.title.capitalize() }", count: "#{Tag.count} topics"  %>
<% end %>

<% content_for :content do %>

  <% unless @books.count.zero? %>
    <h2 class="h2 mb-8">Books about <%= @tag.title.capitalize() %> </h2>
    <%= render partial: "books/books_list", locals: { list: @books} %>
  <% end %>

  <% unless @courses.count.zero? %>
  <h2 class="h2 mb-8">Courses about <%= @tag.title.capitalize() %> </h2>
  <%= render partial: "courses/list", locals: { list: @courses } %>
  <% end %>

<% end %>

