<%#= render "shared/btn_random", title: "Topic" %>

<div class="mb-20 max-w-4xl mx-auto">

    <%= render "shared/page_second_title", title: "Learn #{ @tag.title.capitalize() } with books and courses", description: "There are many great resources available to help you expand your knowledge. Find a books or courses about #{ @tag.title.capitalize() } that can help you improve your skills." %>

  <% unless @books.count.zero? %>
    <div class="bg-white rounded-2xl  mb-20 sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12  border border-slate-200">
      <h2 class="font-custom mb-8 font-bold">Books about <%= @tag.title.capitalize() %></h2>
      <div class="flex flex-col gap-16 sm:gap-20">
        <%= render partial: "shared/book_card", collection: @books, as: :book %>
      </div>
    </div>
  <% end %>

  <% unless @courses.count.zero? %>
    <div class="bg-white rounded-2xl  mb-20 sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12  border border-slate-200">
      <h2 class="font-custom mb-8 font-bold">Courses about <%= @tag.title.capitalize() %></h2>
      <div class="flex flex-col gap-16 sm:gap-20">
        <%= render partial: "shared/course_card", collection: @courses, as: :course %>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/btns_add", item: @tag, path: edit_tag_path(@tag) %>
