<%= render "shared/breadcrumbs", title: "All Themes", path: tags_path, current_title: @tag.title %>

<h1 class="font-bold mb-20 font-custom text-5xl">
  <%= @books.count %> books about <%= @tag.title.capitalize() %>
</h1>

<div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-4 md:gap-10 xl:gap-16">

  <div class="lg:col-span-2 xl:col-span-2 order-2 lg:order-first grid lg:grid-cols-2 2xl:grid-cols-3 gap-4 auto-rows-min">

    <%= render "shared/book_card" %>

  </div>

  <%= render "shared/tags_list" %>

</div>

