<div class="mb-20 max-w-5xl mt-10 mx-auto">

  <div class="p-8 mb-8 bg-white rounded-3xl border-2 border-slate-200/60">
    <section class="mb-8 flex flex-col md:flex-row gap-8">
      <%= render "shared/btn_back", path: youtube_path(@youtube) %>

      <div>
        <h1 class="text-4xl mb-1 lg:text-5xl font-bold font-custom"><%= @lesson.title %></h1>
      </div>
    </section>

    <section class="overflow-hidden">
      <div class="bg-blue-700 rounded-xl">
        <iframe class="aspect-video rounded-xl w-full" src="https://www.youtube.com/embed/<%= @lesson.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="flex justify-between mt-4">
        <%= link_to [@youtube, @lesson.prev], class: "flex gap-2 items-center uppercase hover:bg-slate-200 transition px-4 py-3  text-base font-custom font-bold rounded-lg bg-slate-100" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
          </svg>
          Previous
        <% end %>
        <%= link_to youtube_lessons_path, class: "flex gap-2 items-center uppercase hover:bg-slate-200 transition px-4 py-3  text-base font-custom font-bold rounded-lg bg-slate-100" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
          </svg>
          All Lessons
        <% end %>
        <%= link_to [@youtube, @lesson.next], class: "flex gap-2 items-center uppercase hover:bg-slate-200 transition px-4 py-3  text-base font-custom font-bold rounded-lg bg-slate-100" do %>
          Next
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
          </svg>
        <% end %>
      </div>
    </section>
  </div>

  <div class="flex flex-col lg:flex-row gap-4 lg:gap-10">
    <section class="lg:w-2/3 bg-white max-w-2xl rounded-2xl p-8 border-2 border-slate-200/60">
      <div class="">
        <div class="max-w-2xl">
          <%= @lesson.description %>
        </div>
      </div>
    </section>

    <aside class="lg:w-1/3 bg-white max-w-2xl rounded-2xl p-8 border-2 border-slate-200/60">
      link to youtube & code
    </aside>

  </div>

</div>

<%= link_to "edit", edit_youtube_lesson_path %>
