<div class="mb-20">

  <%= render "shared/btn_random", title: "Screencast" %>
  
  <%= render "shared/suggestions_books" %>

  <div class="bg-white rounded-2xl  sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12  border border-slate-200">

    <%= render "shared/page_title", title: "#{ Screencast.count } screencasts about Ruby and Ruby on Rails", description: "If you're looking for some helpful resources on learning Ruby and Ruby on Rails development, I recommend checking out some screencast tutorials. There's a lot of great information out there that can help you get started and become a better developer. Happy learning!" %>

    <div class="flex flex-col gap-16 sm:gap-16">
      <%= render partial: "shared/screencast_card", collection: @screencasts, as: :screencast %>
    </div>
  </div>

</div>

<%= render "shared/btns_add" %>
