<% content_for :hero do %>
  <%= render "shared/btn_back", path: screencasts_path %>

    <div class="flex-1 self-stretch flex items-center grow justify-center flex-col h-full">
      <h1 class="h1 max-w-4xl mx-auto my-6">
        <%= @screencast.title %>
      </h1>

      <%= render "shared/btn_cta", btn: @screencast.url, event: "go to screencast", title: "Screencast" %>
    </div>

<% end %>

<% content_for :content do %>
      <div class="mb-4"><%= @screencast.content %></div>
<% end %>

<% content_for :authors do %>
  <%= render partial: "shared/author_second",  collection: @screencast.authors, as: :author %>
<% end %>
