<% content_for :hero do %>
  <%= render "shared/btn_back", path: screencasts_path %>

    <div class="flex-1 self-stretch flex items-center grow justify-center flex-col h-full">
      <h1 class="h1 max-w-4xl mx-auto my-6">
        <%= @screencast.title %>
      </h1>

      <%= render "shared/btn_cta", btn: @screencast.url, event: "go to screencast", title: "Screencast" %>
    </div>

<% end %>

<% content_for :content do %>
      <div class="mb-4"><%= @screencast.content %></div>
<% end %>

<% content_for :authors do %>
  <%= render partial: "shared/author_second",  collection: @screencast.authors, as: :author %>
<% end %>

<div class="hidden bg-white rounded-2xl  sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12 mb-20  border border-slate-200">

  <div class="flex flex-col justify-between rounded-xl gap-4 md:gap-2">
    <div class="">
      <%= link_to "All screencasts", screencasts_path, class: "hover:text-red-600 text-red-500 inline-block mb-4" %>
      <h3 class="font-custom hover:opacity-90 font-bold text-3xl xl:text-4xl xl:leading-tight">
        <%= @screencast.title %>
      </h3>
      <div class="mb-8">
        by <%= @screencast.authors.map { |author| link_to(author.name, author, class: "text-red-500 hover:text-red-600") }.join(", ").html_safe %>
</div>
      <div class="mb-4"><%= @screencast.content %></div>
    </div>

    <div>
      <%= link_to "Subscribe",  @screencast.url, target:"_blank", data: {:"splitbee-event" => "go to screencast"}, class: "rounded-md shadow-lg shadow-slate-600/10 px-6 hover:bg-slate-700 py-2 inline-block bg-slate-800 text-white text-base lg:text-xl font-custom" %>
    </div>
  </div>

</div>

