<% unless course.cover.nil? || course.cover.empty? %>

  <div class="mb-4">
    <%= link_to course do %>
      <%= image_tag(course.cover_path, alt: "#{course.title}", class: "-z-10 object-cover w-full rounded-2xl transition duration-300 group-hover:scale-[1.04]") %>
    <% end %>
  </div>

<% else %>

  <div>
    <%= link_to course, class: " hover:opacity-90 transition p-12 mb-4 w-full h-64 sm:h-56 md:h-52 xl:h-64 aspect-[10/8] flex-col flex mx-auto justify-center items-center gap-2 rounded-2xl bg-red-500 text-white" do %>
      <h3 class="h3 transition mb-2">
        <%= course.title %>
      </h3>
      <% unless course.authors.empty? %>
        <div class="text-lg">
          <%= course.authors.map { |author| author.name }.join(", ").html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>
