<div class="mb-20">
  <%= render "shared/btn_random", title: "Course" %>

  <%= render "shared/suggestions_books" %>

  <div class="bg-white rounded-2xl  sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12  border border-slate-200">
    <%= render "shared/page_title", title: "#{ Course.count } Courses about Ruby and Ruby on Rails", description: "Whether you want to learn Ruby for fun, to build your own web apps, or to get a job, we have the perfect course for you. Our collection of Ruby and Ruby on Rails courses cover everything from the basics to advanced topics like metaprogramming and web scraping. Courses will show you how to build powerful, production-ready web applications with this popular framework. Best of all, you can find courses for free. Ready to get started?" %>

    <div class="flex flex-col gap-16 sm:gap-16">
      <%= render partial: "shared/course_card", collection: @courses, as: :course %>
    </div>
  </div>

</div>


<%= render "shared/btns_add" %>

