<div class="mb-20">
  <%= render "shared/btn_random", title: "Course" %>

  <%= render "shared/suggestions_books" %>

  <div class="bg-white rounded-2xl  sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12  border border-slate-200">
    <%= render "shared/page_title", title: "#{ Course.count } Courses about Ruby and Ruby on Rails", description: "Whether you want to learn Ruby for fun, to build your own web apps, or to get a job, we have the perfect course for you. Our collection of Ruby and Ruby on Rails courses cover everything from the basics to advanced topics like metaprogramming and web scraping. Courses will show you how to build powerful, production-ready web applications with this popular framework. Best of all, you can find courses for free. Ready to get started?" %>

    <div class="flex flex-col gap-16 sm:gap-28">
      <%= render partial: "shared/course_card", collection: @courses, as: :course %>
    </div>
  </div>

</div>




<% if current_user.try(:admin?) %>
  <%= link_to new_course_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>
