<% content_for :hero do %>
  <%= render "shared/btn_back", path: courses_path %>

  <div class="flex-1 flex flex-col gap-10 items-center">
    <% if @course.free %>
      <div class="text-green-300 text-base uppercase font-bold font-custom">Free Course</div>
    <% end %>

    <%= render partial: "courses/cover", locals: { course: @course } %>

    <div>
      <h1 class="h1 mb-6">
        <%= @course.title %>
      </h1>
      <%= render "shared/btn_cta", btn: @course.courseSiteUrl, event: "get course", title: "Get Course" %>
    </div>
  </div>
<% end %>

<% content_for :tags do %>
  <%= render "shared/tags_big", tag: @course.tags %>
<% end %>

<% content_for :content do %>
  <%= @course.content %>

  <% if @course.courseSiteUrl.present? %>
      <%= link_to @course.courseSiteUrl, target: "_blank", data: {:"splitbee-event" => "Get Course"}, class: "bg-slate-900 text-center inline-block mt-8 text-white hover:bg-slate-700 transition duration-300 rounded-xl px-6 py-3 text-2xl font-bold font-custom" do %>
        Get Course
      <% end %>
  <% end %>
<% end %>

<% content_for :authors do %>
  <%= render partial: "shared/author_second",  collection: @course.authors, as: :author %>
<% end %>

<% content_for :related do %>
    <%= render partial: "shared/course_card", collection: @related, as: :course %>
<% end %>


<%= render "shared/btns_add", item: @course, path: edit_course_path(@course) %>

