<%= render "shared/btn_random", title: "Course" %>

<div class="bg-white rounded-2xl  sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12 mb-20  border border-slate-200">

  <%= link_to "All Courses", courses_path, class: "mb-4 md:inline-block text-red-500" %>

  <div class="flex flex-col lg:flex-row gap-5 lg:gap-8">
    <% unless @course.cover.nil? || @course.cover.empty? %>
      <div class="mb-4 w-full">
        <div class="md:hover:-translate-y-4 duration-300 transition-all relative isolate overflow-hidden rounded-lg shadow-md hover:shadow-xl shadow-slate-800/20">
          <%= image_tag("courses/#{@course.cover}", alt: "#{@course.title}", class: "shrink-0 lg:mr-auto block") %>
        </div>
      </div>
    <% end %>

    <div>

      <h1 class="flex gap-2 items-center mb-2 text-xl font-bold lg:text-3xl font-custom leading-tight">
        <%= @course.title %>
        <% if @course.free %>
          <span class="text-sm bg-green-500 rounded-full font-bold text-white px-4 py-2">Free </span>
        <% end %>
      </h1>
      <% unless @course.authors.empty? %>
        <span class="mb-2 inline-block text-lg text-slate-700">
          by <%= @course.authors.map { |author| link_to(author.name, author, class: "ml-1 hover:opacity-80") }.join(", ").html_safe %>
        </span>
      <% end %>

      <%= render "shared/tag_in_card", tags: @course %>

      <div class="flex flex-wrap gap-2 mb-8 justify-center md:justify-start">
        <% if @course.courseSiteUrl.present? %>
          <%= link_to @course.courseSiteUrl, target: "_blank", data: {:"splitbee-event" => "get course"}, class: "rounded-md shadow-lg shadow-slate-600/10 px-6 hover:bg-slate-700 py-2 inline-block bg-slate-800 text-white text-base lg:text-xl font-custom" do %>
            Get Course
          <% end %>
        <% end %>
      </div>

      <div class="text-lg">
        <%= @course.content %>
      </div>
    </div>

  </div>
</div>

<%= render "shared/suggestions_books" %>

<div class="px-5 lg:px-0">
  <h2 class="font-custom mb-8 font-bold">More courses</h2>
  <div class="flex flex-col mb-20 gap-16 sm:gap-28">
    <%= render partial: "shared/course_card", collection: @more_courses, as: :course %>
  </div>
</div>


<%= render "shared/btns_add", item: @course, path: edit_course_path(@course) %>

