<div class="flex flex-col md:flex-row md:gap-10">
  <div class="md:w-2/3">

    <% unless @free_featured.empty? %>
      <% @free_featured.each do |book| %>

        <section class="bg-gradient-to-b from-amber-100">
          <div class="flex flex-col lg:flex-row p-5 md:p-10 gap-10">

            <div class="">
              <%= link_to book_path(book), class: "w-1/2 lg:w-full block" do %> 
                <%= render BookCoverComponent.new(book: book) %> 
              <% end %>
            </div>

            <div class="w-full self-start">
              <p class="font-medium text-sm text-red-500"> This week recomendation </p>

              <div class="mt-auto">
                <%= link_to book_path(book), class: "hover:text-red-500 text-3xl mb-2 inline-block md:leading-tight" do %> 
                  <%= book.title %>
                <% end %>
                <div class="mb-4">
                  by <%= book.authors.map { |author| link_to(author.name, author, class: "hover:text-red-500") }.join(", ").html_safe %>
                </div>

                <div class="flex flex-wrap gap-2 items-start justify-start ">
                  <%= link_to "Learn more", book_path(book), class: "bg-white px-4 py-2 hover:text-red-500"  %>
                </div>
              </div>
            </div>

          </div>
        </section>
      <% end %>
    <% end %>

    <div class="grid md:grid-cols-2 gap-2 lg:gap-4 mb-20">
      <%= link_to podcasts_path, class: "group border bg-gradient-to-b from-orange-100 border-orange-500/20  p-5 lg:p-10" do %>
        <h3 class="font-bold group-hover:text-red-500">Podcasts</h3>
        <p>Podcasts about Ruby and Ruby on Rails</p>
      <% end %>

      <%= link_to newsletters_path, class: "group border bg-gradient-to-b from-purple-100 border-purple-500/20 p-5 lg:p-10" do %>
        <h3 class="font-bold group-hover:text-red-500">Newsletters</h3>
        <p>Read about all the most interesting things</p>
      <% end %>

      <%= link_to "https://rubyandrails.info/learn/hotwire", class: "group border bg-gradient-to-b from-slate-100 border-slate-500/20 p-5 lg:p-10" do %>
        <h3 class="font-bold group-hover:text-red-500">Books about Hotwire</h3>
        <p>Learn about Testing and everything</p>
      <% end %>

      <%= link_to "https://rubyandrails.info/learn/ruby", class: "group border bg-gradient-to-b from-red-100 border-red-500/20 p-5 lg:p-10" do %>
        <h3 class="font-bold group-hover:text-red-500">Books about Ruby</h3>
        <p>Learn about Testing and everything</p>
      <% end %>
    </div>

    <div class="md:hidden  md:w-1/3 mb-20">
      <h2 class="text-3xl mb-8">Topics</h2>
      <div class="flex flex-wrap gap-2">
        <%= @tags.map { |t| link_to(t.title, t, class: "bg-slate-100 px-3 py-1 hover:bg-slate-50 inline-block hover:text-red-500") }.join(" ").html_safe %>
      </div>
    </div>

  </div>

  <div class="hidden md:block md:w-1/3 mb-20">
    <h2 class="text-3xl mb-8">Topics</h2>
    <div class="flex flex-wrap gap-2">
      <%= @tags.map { |t| link_to(t.title, t, class: "bg-slate-100 px-3 py-1 hover:bg-slate-50 inline-block hover:text-red-500") }.join(" ").html_safe %>
    </div>
  </div>
</div>

<div class="mb-10 max-w-2xl">
  <h1 class="mb-2 text-3xl md:text-4xl">
    <%= Book.free_books.count %> books about Ruby & Ruby on Rails
  </h1>
  <div class="leading-relaxed">
    <p>There are a lot of good books about Ruby and Ruby on Rails. And many books you can read for free</p>
  </div>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 md:gap-8 xl:gap-16 mb-20">
  <%= render (BookCardComponent.with_collection(@books)) %>
</div>
