<% content_for :hero do %>
  <%= render "shared/btn_back", path: communities_path %>

  <div class="flex-1 self-stretch flex items-center grow justify-center flex-col h-full">
    <% unless @community.cover.nil? || @community.cover.empty? %>
      <div class="shrink-0 rounded-sm relative ">
        <%= image_tag("communities/#{@community.cover}", alt: "#{@community.title}", class: "drop-shadow-xl mb-8") %>
      </div>
    <% end %>
    <h1 class="h1 max-w-4xl mx-auto mt-6 mb-4">
      <%= @community.title %>
    </h1>
    <p class="mb-6"><%= @community.source.capitalize() %></p>

    <%= render "shared/btn_cta", btn: @community.url, event: "go to community", title: "Join" %>

  </div>

<% end %>


<% content_for :content do %>
  <div class="text-2xl">
    It's always great to study with others! The community <%= @community.title %> can help you with answers to your questions and it's also a great way to learn about new and interesting things about Ruby & Ruby on Rails. Plus, it's always nice to have a good conversation.
  </div>
<% end %>

