
<div class="grid grid-cols-3 gap-y-16 md:gap-y-24 mb-20">

  <div class="col-span-3 md:col-span-2">
    <% @featured.each do |podcast| %>
      <div class="group bg-white p-6 md:p-10 flex flex-col justify-between h-full shadow-xl shadow-slate-200/30 gap-4 md:gap-2">
        <div class="mb-4">
          <div class="mb-4 flex flex-col lg:flex-row gap-10 lg:items-end">
            <% unless podcast.cover.empty? %>
              <%= image_tag("podcasts/#{podcast.cover}", alt: "#{podcast.title}", class: " shadow-lg sm:-mt-12 shadow-slate-800/10 block w-1/2 xl:w-1/3") %>
            <% end %>
            <%= link_to podcast, data: {turbo_frame: "modal"} do %>
              <h3 class="font-custom font-bold text-3xl xl:text-5xl xl:leading-tight">
                <%= podcast.title %>
              </h3>
            <% end %>
          </div>
          <div class="mb-4"><%= podcast.content %></div>
        </div>
        <%= link_to "Listen", podcast.url, target: "_blank", class: "font-custom self-start border border-slate-800 px-4 py-2 bg-slate-800 hover:bg-slate-700 text-white" %>
      </div>
    <% end %>
  </div>

  <div class="col-span-3 md:col-span-1 md:ml-4 lg:ml-10 xl:ml-12">

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1">
      <%= render "shared/adv" %>

      <%= link_to books_free_index_path, class: "bg-white block mb-1 hover:bg-white/40 p-5" do %>
        <h3 class="font-bold text-base font-custom">Free Books</h3>
        <p class="text-base text-slate-500">Learn Testing, and TDD, RSpec, Minitest</p>
      <% end %>

      <%= link_to "https://rubyandrails.info/learn/testing", class: "hidden md:block bg-white hover:bg-white/40 p-5" do %>
        <h3 class="font-bold text-base font-custom">Books about Testing</h3>
        <span class="text-base text-slate-500">Learn Testing, and TDD, RSpec, Minitest</span>
      <% end %>
    </div>

  </div>
</div>

<div class="space-y-16 md:space-y-24 mb-20">
  <%= render "shared/page_text_intro", model: Podcast.count, title: "podcasts", description: "If you're looking for some interesting podcasts to listen to on your commute or while you're working out, check out our list of the best Ruby, Ruby on Rails, and programming podcasts. From fun discussions about life as a programmer to in-depth interviews with Ruby on Rails experts, these podcasts have something for everyone.", bg: false %>
  <%= render "podcasts_list" %>
  <%= render "shared/all_tags" %>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_podcast_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>
