<div class="mb-20">
  <div class="mb-10 max-w-2xl">
    <h1 class="mb-2 font-custom text-3xl md:text-4xl">
      <%= Podcast.count %> podcasts <br/>about Ruby & Ruby on Rails
    </h1>
    <div class="leading-relaxed">
      <p>Podcasts about Ruby & Ruby on Rails</p>
    </div>
  </div>
  <div class="grid sm:grid-cols-2 gap-8 md:gap-8 mb-20">

    <% @podcasts.each do |podcast| %>
      <div class="group bg-white p-6 flex flex-col shadow-xl shadow-slate-200/30 justify-between gap-4 md:gap-2">

        <% unless podcast.cover.empty? %>
          <%= link_to podcast.url, target: "_blank" do %>
            <%= image_tag("podcasts/#{podcast.cover}", alt: "#{podcast.title}", class: "md:mb-4 shadow-xl shadow-slate-800/20 block w-1/2 xl:w-1/3") %>
          <% end %>
        <% end %>

        <div>
          <%= link_to podcast, class: "flex-1" do %>
            <h3 class="font-custom font-bold hover:text-red-500 xl:leading-tight">
              <%= podcast.title %>
            </h3>
          <% end %>
          <p class="mb-4"><%= podcast.content %></p>
        </div>
        <%= link_to "Listen", podcast.url, target: "_blank", class: "font-custom self-start border border-slate-800 px-4 py-2 hover:bg-slate-800 hover:text-white" %>
      </div>
    <% end %>

  </div>
</div>


<% if current_user.try(:admin?) %>
  <%= link_to new_podcast_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>
