<%= render "shared/btn_random", title: "Podcast" %>

<div class="bg-white rounded-2xl  sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12 mb-20  border border-slate-200">

<div class="grid md:grid-cols-2 gap-5 lg:gap-8">
  <% unless @podcast.cover.empty? %>
    <%= link_to @podcast, class: "shrink-0 rounded-sm relative " do %>
      <%= image_tag("podcasts/#{@podcast.cover}", alt: "#{@podcast.title}", class: "shadow-lg shadow-slate-800/10 block") %>
    <% end %>
  <% end %>

  <div>
    <%= link_to @podcast do %>
      <h3 class="hover:text-red-500 flex gap-2 items-center mb-4 text-xl font-bold lg:text-3xl font-custom leading-tight">
        <%= @podcast.title %>
      </h3>
    <% end %>

    <div class="mb-4 text-slate-600 text-base"><%= @podcast.content %></div>

    <%= link_to "Listen Podcast", @podcast.url, data: {:"splitbee-event" => "go to podcast"}, class: "rounded-md shadow-lg shadow-slate-600/10 px-6 hover:bg-slate-700 py-2 inline-block bg-slate-800 text-white text-base lg:text-xl font-custom" %>
  </div>

</div>

</div>

<%= render "shared/suggestions_books" %>

<%= render "shared/btns_add", item: @podcast, path: edit_podcast_path(@podcast) %>
