<div class="space-y-12 md:space-y-28">
  <%= render(Layout::HeroComponent.new(title: "podcasts", bg_color: "bg-blue-700", bg: "podcast", second: true, path: podcasts_path)) do |c| %>

    <%= c.with_image do %>
      <% unless @podcast.cover.empty? %>
        <%= image_tag("podcasts/#{@podcast.cover}", alt: "#{@podcast.title}", class: "order-last md:order-first shrink w-2/3 lg:w-2/3") %>
      <% end %>
    <% end %>

    <%= c.with_link do %>
      <div class="lg:self-end">
        <h1 class="text-3xl md:leading-tight md:text-4xl 2xl:text-5xl font-bold md:mb-4">
          <%= @podcast.title %>
        </h1> 
        <div class="mb-8 xl:text-2xl">
          <%= @podcast.content %>
        </div>

        <div class="flex flex-wrap gap-2 mb-8 lg:mb-0 items-start justify-start ">
          <%= render ButtonComponent.new(title: "Listen", path: @podcast.url, shop: true) %>
        </div>
      </div>

    <% end %>
  <% end %>

  <div class="px-5 md:px-10 lg:px-16">
    <h2 class="font-bold text-3xl mb-8 md:text-5xl">More newsletters</h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
      <%= render (PodcastCardComponent.with_collection(@more_podcasts)) %>
    </div>
  </div>

</div>

<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 right-10 flex gap-10">
    <%= link_to 'Edit', edit_podcast_path(@podcast) %>
    <%= button_to 'Delete', @podcast, method: :delete, style: 'background: tomato' %>
  </div>
<% end %>
