<div class="flex xl:gap-20">

  <div class="mx-auto xl:w-4/5 px-5 sm:p-10">

    <div class="flex flex-col items-center md:items-start text-center md:text-left md:flex-row gap-5 md:gap-10 lg:gap-20 mb-10">

      <div class="">
        <% unless @podcast.cover.empty? %>
          <%= image_tag("podcasts/#{@podcast.cover}", alt: "#{@podcast.title}", class: "order-last md:order-first shrink w-2/3 lg:w-2/3") %>
        <% end %>
      </div>
      
      <div class="md:w-2/3">
        <%= link_to "All Podcasts", podcasts_path, class: "mb-4 md:inline-block hover:text-red-500 hidden" %>

        <h1 class="text-3xl lg:text-5xl mb-4 font-medium">
          <%= @podcast.title %>
        </h1> 
        <div class="max-w-2xl mb-10">
          <%= @podcast.content %>
        </div>
      </div>
    </div>
    <div class="xl:hidden lg:w-2/3"> 
      <h2 class="text-3xl mb-8">More podcasts</h2>
      <div class="flex flex-col md:flex-row gap-4 md:gap-12">
      <%= render (PodcastCardComponent.with_collection(@more_podcasts)) %>
      </div>
    </div>
  </div>
  <div class="hidden xl:block w-1/5 py-10 px-8">
    <div class="flex flex-col max-w-xs gap-8">
      <h2 class="text-3xl mb-8">Topics</h2>
      <div class="flex flex-wrap gap-2">
        <%= @tags.map { |t| link_to(t.title, t, class: "bg-slate-100 px-3 py-1 hover:bg-slate-50 inline-block hover:text-red-500") }.join(" ").html_safe %>
      </div>
    </div>
  </div>
</div>

<div class="px-5 md:px-10 lg:px-16">
  <h2 class="font-bold text-3xl mb-8 md:text-5xl">More podcasts</h2>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
    <%= render (PodcastCardComponent.with_collection(@more_podcasts)) %>
  </div>
</div>


<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 right-10 flex gap-10">
  <%= link_to new_podcast_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
    <%= link_to 'Edit', edit_podcast_path(@podcast) %>
    <%= button_to 'Delete', @podcast, method: :delete, style: 'background: tomato' %>
  </div>
<% end %>
