<%= render "shared/btn_random", title: "Podcast" %>

<div class="bg-white rounded-2xl  sm:mr-5 lg:mr-0 p-5 sm:p-8 md:p-12 mb-20  border border-slate-200">

<div class="grid md:grid-cols-2 gap-5 lg:gap-8">
  <% unless @podcast.cover.empty? %>
    <%= link_to @podcast, class: "shrink-0 rounded-sm relative " do %>
      <%= image_tag("podcasts/#{@podcast.cover}", alt: "#{@podcast.title}", class: "shadow-lg shadow-slate-800/10 block") %>
    <% end %>
  <% end %>

  <div>
    <%= link_to @podcast do %>
      <h3 class="hover:text-red-500 flex gap-2 items-center mb-4 text-xl font-bold lg:text-3xl font-custom leading-tight">
        <%= @podcast.title %>
      </h3>
    <% end %>

    <div class="mb-4 text-slate-600 text-base"><%= @podcast.content %></div>

    <%= link_to "Listen Podcast", @podcast.url, data: {:"splitbee-event" => "go to podcast"}, class: "rounded-md shadow-lg shadow-slate-600/10 px-6 hover:bg-slate-700 py-2 inline-block bg-slate-800 text-white text-base lg:text-xl font-custom" %>
  </div>

</div>

</div>

<%= render "shared/suggestions_books" %>

<div class="px-5 sm:px-0">
  <h2 class="font-custom mb-8 font-bold">More podcasts</h2>
  <div class="flex flex-col mb-20 gap-8 sm:gap-16">
    <%= render partial: "shared/podcast_card", collection: @more_podcasts, as: :podcast %>
  </div>
</div>



<% if current_user.try(:admin?) %>
  <div class="fixed bottom-10 right-10 flex gap-10">
  <%= link_to new_podcast_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
    <%= link_to 'Edit', edit_podcast_path(@podcast) %>
    <%= button_to 'Delete', @podcast, method: :delete, style: 'background: tomato' %>
  </div>
<% end %>
