<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ahrefs-site-verification" content="5daf808c786318b77a57cc0d6dd369cbeea4658286e7e5bf0ac9ba3cf412a74a">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <script data-goatcounter="https://leonix.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  <%#= display_meta_tags %>
  <%= display_meta_tags(default_meta_tags) %>
</head>

<body class="text-slate-800 text-2xl">
<div class="absolute hidden bottom-0 z-50 text-white p-1 text-xs font-bold bg-red-400">
    <span class="sm:hidden">mobile</span>
    <span class="hidden sm:inline md:hidden">sm</span>
    <span class="hidden md:inline lg:hidden">md</span>
    <span class="hidden lg:inline xl:hidden">lg</span>
    <span class="hidden xl:inline 2xl:hidden">xl</span>
    <span class="hidden 2xl:inline 3xl:hidden">2xl</span>
    <span class="hidden 3xl:inline 4xl:hidden">3xl</span>
    <span class="hidden 4xl:inline">4xl+</span>
</div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="flex flex-col md:flex-row">  
  <aside class="top-0 shrink-0 text-xl disable-scrollbar md:h-screen md:sticky md:w-64 xl:w-80 bg-slate-800 text-white relative overflow-hidden">  
    <%= render "shared/navbar" %>
  </aside>  

  <main class="xl:py-10 w-full ">  
    <%= yield %>
  </main>  
</div>


</body>
</html>
