<!DOCTYPE html>
<html>
<head>
  <title>Ruby and Rails</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ahrefs-site-verification" content="5daf808c786318b77a57cc0d6dd369cbeea4658286e7e5bf0ac9ba3cf412a74a">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body class="text-slate-800 font-custom text-2xl">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<main class="bg-bg bg-no-repeat bg-contain bg-top bg-fixed">
  <%= render "shared/navbar" %>

  <%= yield %>

</main>

</body>
</html>
