<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ahrefs-site-verification" content="5daf808c786318b77a57cc0d6dd369cbeea4658286e7e5bf0ac9ba3cf412a74a">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <script async src="https://cdn.splitbee.io/sb.js"></script>
  <script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js" id="pirschjs" data-code="FxX6f1sD5QacdiYXeuIB4wBNuOZkh10O"></script>

  <%= display_meta_tags(default_meta_tags) %>
  <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180" %>
  <%= favicon_link_tag "favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png" %>
  <%= favicon_link_tag "favicon-16x16.png", rel: "icon", color:"#EF4444" %>
  <%= favicon_link_tag "safari-pinned-tab.svg", rel: "mask-icon", sizes: "16x16", type: "image/png" %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body class="text-slate-800 bg-slate-50 text-xl">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="flex flex-col gap-4 md:gap-20 lg:flex-row">  
  <aside>  
    <%= render "shared/navbar" %>
  </aside>  

  <main class="grow bg-white">  

    <section class="relative overflow-hidden group isolate bg-gradient-to-b from-slate-900 to-blue-700 p-8">
      <%= image_tag("grid-pattern.svg", alt: "", class: "absolute -z-10 opacity-10 group-hover:opacity-20 transition duration-300 left-1/2 -translate-x-1/2") %>

      <%= image_tag("decoration/one.png", alt: "", class: "absolute -z-20 left-40 scale-150 duration-700 animate-pulse") %>
      <%= image_tag("decoration/two.png", alt: "", class: "absolute delay-100 -right-4 top-20 -z-20 scale-150 duration-1000 animate-pulse") %>

      <div class="text-white z-50 text-center pb-12 md:pb-16 flex flex-col md:flex-row group gap-4">
        <%= yield :hero %>
      </div>
    </section>

      <div class="bg-gradient-to-b from-amber-50 to-white px-5 sm:px-10 xl:px-0 py-20 md:py-32">
        <section class="max-w-5xl grid md:grid-cols-3 gap-8 md:gap-20 mx-auto">
          <div class="md:col-span-1">
            <h2 class="h1 mb-4">What this  about?</h2>
          </div>
          <div class="leading-relaxed md:col-span-2 lg:text-3xl">
            <%= yield :content %>
          </div>
        </section>
      </div>

    <div class="space-y-20 md:space-y-36">


      <div class="bg-red-600 relative isolate overflow-hidden text-white px-5 sm:px-10 xl:px-0 py-20 md:py-32">
        <div class="h-[80em] bottom-20 aspect-square block absolute -z-10 -right-80 rounded-full bg-red-200/10"></div>

        <section class="max-w-5xl grid md:grid-cols-3 gap-8 md:gap-20 mx-auto">
          <div class="md:col-span-1">
          <h2 class="h1 mb-8">You'll Learn</h2>
          </div>
          <div class="md:col-span-2 lg:text-2xl xl:text-3xl">
          <%= yield :tags %>
          </div>
        </section>
      </div>

      <section class="max-w-5xl grid md:grid-cols-3 gap-8 md:gap-20 px-5 sm:px-10 xl:px-0 mx-auto">
          <div class="md:col-span-1">
            <h2 class="h1">Author</h2>
          </div>
          <div class="space-y-10 md:col-span-2">
            <%= yield :authors %>
          </div>
      </section>

      <div class="bg-blue-700 text-white overflow-hidden isolate relative px-5 sm:px-10 xl:px-0 py-20 md:py-32">
        <section class="max-w-5xl mx-auto">
          <h2 class="h1 mb-16">More like this</h2>

          <div class="grid md:grid-cols-2 md:gap-10">
            <%= yield :related %>
          </div>
        </section>
      </div>

    </div>
  </main>  

</div>


</body>
</html>
